<!--
  more verbose labels?
https://www.google.com/imgres?imgurl=https%3A%2F%2Flive.mrf.io%2Fstatics%2Fi%2Fps%2Fassets.rebelmouse.io%2FeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpbWFnZSI6Imh0dHBzOi8vYXNzZXRzLnJibC5tcy8yMTE3NDIzOS9vcmlnaW4ucG5nIiwiZXhwaXJlc19hdCI6MTYwNjQ0MDYwMH0.WK7cQfyw5cf_ibPH_S4-Hqf9z0qdDgUifSuMXXOPqN0%2Fimg.png%3Fwidth%3D1245%26coordinates%3D0%252C0%252C0%252C0%26height%3D700&imgrefurl=https%3A%2F%2Fbigthink.com%2Fphilip-perry%2Fsearching-for-meaning-in-your-life-this-japanese-concept-can-help-you-find-it&tbnid=eGZsArDqHRu4lM&vet=12ahUKEwjN3bGVm4jpAhV8DWMBHUVKDAgQMygGegUIARClAg..i&docid=JMRWQNaBhjUjMM&w=1245&h=700&q=ikigai&safe=off&ved=2ahUKEwjN3bGVm4jpAhV8DWMBHUVKDAgQMygGegUIARClAg
-->

<svg id="ikigai" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
     viewBox="0 0 800 800">
  <defs>
    <clipPath id="_clipPath_DYJLRsZoXDxKh5KIVb97C6l2UOPtS7vq">
      <rect width="800" height="800"/>
    </clipPath>
  </defs>
  <g clip-path="url(#_clipPath_DYJLRsZoXDxKh5KIVb97C6l2UOPtS7vq)">
    <g opacity="0.38">
      <circle vector-effect="non-scaling-stroke" cx="399.9999999999999" cy="261.9999999999999" r="189" id="Ellipse"
              fill="var(--var1)" stroke-width="4" stroke="rgb(0,0,0)" stroke-linejoin="miter"
              stroke-linecap="square" stroke-miterlimit="3"/>
    </g>
    <g opacity="0.38">
      <circle vector-effect="non-scaling-stroke" cx="399.9999999999999" cy="512.9999999999998" r="189" id="Ellipse"
              fill="rgb(235,235,235)" stroke-width="4" stroke="rgb(0,0,0)" stroke-linejoin="miter"
              stroke-linecap="square" stroke-miterlimit="3"/>
    </g>
    <g opacity="0.38">
      <circle vector-effect="non-scaling-stroke" cx="525.9999999999998" cy="381.9999999999998" r="189" id="Ellipse"
              fill="rgb(235,235,235)" stroke-width="4" stroke="rgb(0,0,0)" stroke-linejoin="miter"
              stroke-linecap="square" stroke-miterlimit="3"/>
    </g>
    <g opacity="0.38">
      <circle vector-effect="non-scaling-stroke" cx="259.9999999999999" cy="381.9999999999998" r="189" id="Ellipse"
              fill="rgb(235,235,235)" stroke-width="4" stroke-dasharray="1,1,1,1" stroke="rgb(0,0,0)"
              stroke-linejoin="miter" stroke-linecap="square" stroke-miterlimit="3"/>
    </g>
    <text transform="matrix(1,0,0,1,363,395.117)" id="Ikigai_Text"
          style="font-family:'Roboto';font-weight:400;font-size:20px;font-style:normal;fill:#000000;stroke:none;">IKIGAI
    </text>
    <text transform="matrix(1,0,0,1,85,395.117)" id="Text"
          style="font-family:'Roboto';font-weight:400;font-size:20px;font-style:normal;fill:#000000;stroke:none;">WHAT
      YOU ARE
    </text>
    <text transform="matrix(1,0,0,1,85,418.555)" id="Text"
          style="font-family:'Roboto';font-weight:700;font-size:20px;font-style:normal;fill:#000000;stroke:none;">GOOD
      AT
    </text>
    <text transform="matrix(1,0,0,1,572,395.117)" id="Text"
          style="font-family:'Roboto';font-weight:400;font-size:20px;font-style:normal;fill:#000000;stroke:none;">WHAT
      THE
    </text>
    <text transform="matrix(1,0,0,1,572,418.555)" id="Text"
          style="font-family:'Roboto';font-weight:700;font-size:20px;font-style:normal;fill:#000000;stroke:none;">WORLD
      NEEDS
    </text>
    <text transform="matrix(1,0,0,1,371.051,145.555)" id="Text"
          style="font-family:'Roboto';font-weight:400;font-size:20px;font-style:normal;fill:#000000;stroke:none;">WHAT
    </text>
    <text transform="matrix(1,0,0,1,352.921,168.992)" id="Text"
          style="font-family:'Roboto';font-weight:700;font-size:20px;font-style:normal;fill:#000000;stroke:none;">YOU
      LOVE
    </text>
    <text transform="matrix(1,0,0,1,312.33,620.68)" id="Text"
          style="font-family:'Roboto';font-weight:400;font-size:20px;font-style:normal;fill:#000000;stroke:none;">WHAT
      YOU CAN BE
    </text>
    <text transform="matrix(1,0,0,1,356.021,644.117)" id="Text"
          style="font-family:'Roboto';font-weight:700;font-size:20px;font-style:normal;fill:#000000;stroke:none;">PAID
      FOR
    </text>
    <text transform="matrix(1,0,0,1,483.461,280.555)" id="Text"
          style="font-family:'Roboto';font-weight:400;font-size:20px;font-style:normal;fill:#000000;stroke:none;">
      MISSION
    </text>
    <text transform="matrix(1,0,0,1,452.233,491.117)" id="Text"
          style="font-family:'Roboto';font-weight:400;font-size:20px;font-style:normal;fill:#000000;stroke:none;">
      VOCATION
    </text>
    <text transform="matrix(1,0,0,1,228.359,492.117)" id="Text"
          style="font-family:'Roboto';font-weight:400;font-size:20px;font-style:normal;fill:#000000;stroke:none;">
      PROFESSION
    </text>
    <text transform="matrix(1,0,0,1,246.253,285.555)" id="Text"
          style="font-family:'Roboto';font-weight:400;font-size:20px;font-style:normal;fill:#000000;stroke:none;">
      PASSION
    </text>
    <line x1="391" y1="289" x2="600" y2="129" id="Path"/>
    <g style="isolation: isolate;">
      <line x1="391" y1="289" x2="600" y2="129" id="Path" fill="none" vector-effect="non-scaling-stroke"
            stroke-width="1" stroke-dasharray="3,3,3,3" stroke="rgb(179,139,139)" stroke-linejoin="miter"
            stroke-linecap="square" stroke-miterlimit="3"/>
    </g>
    <text transform="matrix(1,0,0,1,622.5,110.398)" id="Text"
          style="font-family:'Roboto';font-weight:400;font-size:20px;font-style:normal;fill:#B38B8B;stroke:none;">
      Delight and fullness
    </text>
    <text transform="matrix(1,0,0,1,622.5,133.836)" id="Text"
          style="font-family:'Roboto';font-weight:400;font-size:20px;font-style:normal;fill:#B38B8B;stroke:none;">but no
      wealth
    </text>
    <text transform="matrix(1,0,0,1,622.5,157.273)" id="Text"
          style="font-family:'Roboto';font-weight:400;font-size:20px;font-style:normal;fill:#B38B8B;stroke:none;">or
      material security
    </text>
    <line x1="477" y1="386" x2="691" y2="600" id="Path"/>
    <g style="isolation: isolate;">
      <line x1="477" y1="386" x2="691" y2="600" id="Path" fill="none" vector-effect="non-scaling-stroke"
            stroke-width="1" stroke-dasharray="3,3,3,3" stroke="rgb(179,139,139)" stroke-linejoin="miter"
            stroke-linecap="square" stroke-miterlimit="3"/>
    </g>
    <text transform="matrix(1,0,0,1,646,649.555)" id="Text"
          style="font-family:'Roboto';font-weight:400;font-size:20px;font-style:normal;fill:#B38B8B;stroke:none;">
      Excitement and
    </text>
    <text transform="matrix(1,0,0,1,646,672.992)" id="Text"
          style="font-family:'Roboto';font-weight:400;font-size:20px;font-style:normal;fill:#B38B8B;stroke:none;">
      complacency,
    </text>
    <text transform="matrix(1,0,0,1,646,696.43)" id="Text"
          style="font-family:'Roboto';font-weight:400;font-size:20px;font-style:normal;fill:#B38B8B;stroke:none;">but
      sense of
    </text>
    <text transform="matrix(1,0,0,1,646,719.867)" id="Text"
          style="font-family:'Roboto';font-weight:400;font-size:20px;font-style:normal;fill:#B38B8B;stroke:none;">
      uncertainty
    </text>
    <text transform="matrix(1,0,0,1,66,649.555)" id="Text"
          style="font-family:'Roboto';font-weight:400;font-size:20px;font-style:normal;fill:#B38B8B;stroke:none;">
      Comfortable,
    </text>
    <text transform="matrix(1,0,0,1,66,672.992)" id="Text"
          style="font-family:'Roboto';font-weight:400;font-size:20px;font-style:normal;fill:#B38B8B;stroke:none;">but
      feeling
    </text>
    <text transform="matrix(1,0,0,1,66,696.43)" id="Text"
          style="font-family:'Roboto';font-weight:400;font-size:20px;font-style:normal;fill:#B38B8B;stroke:none;">of
      emptiness
    </text>
    <line x1="301.629" y1="393" x2="103.648" y2="195.019" id="Path"/>
    <g style="isolation: isolate;">
      <line x1="301.629" y1="393" x2="103.648" y2="195.019" id="Path" fill="none" vector-effect="non-scaling-stroke"
            stroke-width="1" stroke-dasharray="3,3,3,3" stroke="rgb(179,139,139)" stroke-linejoin="miter"
            stroke-linecap="square" stroke-miterlimit="3"/>
    </g>
    <line x1="383" y1="471" x2="219.629" y2="634.371" id="Path"/>
    <g style="isolation: isolate;">
      <line x1="383" y1="471" x2="219.629" y2="634.371" id="Path" fill="none" vector-effect="non-scaling-stroke"
            stroke-width="1" stroke-dasharray="3,3,3,3" stroke="rgb(179,139,139)" stroke-linejoin="miter"
            stroke-linecap="square" stroke-miterlimit="3"/>
    </g>
    <text transform="matrix(1,0,0,1,30,112.398)" id="Text"
          style="font-family:'Roboto';font-weight:400;font-size:20px;font-style:normal;fill:#B38B8B;stroke:none;">
      Satisfaction,
    </text>
    <text transform="matrix(1,0,0,1,30,135.836)" id="Text"
          style="font-family:'Roboto';font-weight:400;font-size:20px;font-style:normal;fill:#B38B8B;stroke:none;">but
      feeling of
    </text>
    <text transform="matrix(1,0,0,1,30,159.273)" id="Text"
          style="font-family:'Roboto';font-weight:400;font-size:20px;font-style:normal;fill:#B38B8B;stroke:none;">
      uselessness
    </text>
  </g>
</svg>
