.ui-treenode-label {
  width: 98%;
}

.done {
  opacity: 0.2;
}

.done-title {
  text-decoration: line-through;
}

$border-left: 2px;

.node-content-container {
  border-left: transparent $border-left solid;
}

.ancestor-of-focused {
  border-left: #CCF $border-left solid;
}
