
<ng-template #popTitle>Fancy <b>content</b></ng-template>

<ng-template #popupContent>
  <!-- note: passing [nodeContentComponent]="this" might be an acceptable exception, since the popover really originates form the node-content component so it might depend on it for context -->
  <app-tree-node-menu
    [treeNode]="treeNode"
    [treeHost]="treeHost"
    [popOver]="popOver"
    [nodeContentComponent]="this"
  ></app-tree-node-menu>
</ng-template>


<div
  style="display: flex; align-items: stretch; font-size: 13px"
  (keydown.alt.enter)="addChild()"
  (keydown.meta.enter)="keyPressMetaEnter($event)"
  (keydown.control.enter)="keyPressMetaEnter($event)"
  (keydown.control.arrowup)="reorderUp($event)"
  (keydown.control.arrowdown)="reorderDown($event)"

  (keydown.enter)="keyPressEnter($event)"
  (keydown.arrowup)="focusNodeAbove($event)"
  (keydown.arrowdown)="focusNodeBelow($event)"

  (keydown.shift.tab)="indentDecrease($event)"
  (keydown.tab)="indentIncrease($event)"
  [ngClass]="{'done': isDone, 'ancestor-of-focused': isAncestorOfFocused, 'node-content-container': true}"
  (focusin)="onFocusIn($event)"
>
<!--  (keydown.arrowleft)="onArrowLeftOnLeftMostCell()"-->

<!--  (keydown.alt.arrowright)="onArrowRight()"-->
<!--  (keydown.meta.arrowright)="onArrowRight()"-->
<!--  (keydown.control.arrowright)="onArrowRight()"-->


  <!--  <app-cell-host>-->
  <!-- re-check the cell-host idea when handling keyboard shortcuts and focus -->
<!--    <app-node-cell-->
<!--      [cell]="cells.forColumn(columns.estimatedTimeMin)"-->
<!--      [nodeContentComponent]="this"-->
<!--    ></app-node-cell>-->
<!--  </app-cell-host>-->

  <app-node-expansion-icon
    [treeNode]="treeNode"
  ></app-node-expansion-icon>

  <app-node-class-icon
    [treeNode]="treeNode"
    [ngbPopover]="popupContent"
    #popOver="ngbPopover"
    [autoClose]="'outside'"
  ></app-node-class-icon>

  <div *ngIf="treeNode.isDayPlan"
       style="user-select: none; vertical-align: middle; display: table-cell; align-self: center"
  >
    <span class="faded">End</span> {{formatEndTime(columns.estimatedTime)}}
    <!--Sum: {{treeNode.timeLeftSumText()}}-->
  </div>
  <ng-container *ngIf="treeNode.itemData?.deleted">
    Deleted <!--{{treeNode.itemData?.deleted}}-->
  </ng-container>

  <app-node-content-time-tracking
    [treeNode]="treeNode"
    style="margin-left: 0.5em; vertical-align: middle; align-self: center"
  ></app-node-content-time-tracking>

  <!-- ======= new cells approach: -->
  <app-node-cell
    [nodeContentComponent]="this"
    [cell]="cells.forColumn(columns.estimatedTimeMin)"
    [hidden]="! isEstimatedTimeShown"
  ></app-node-cell>
  <app-node-cell
    [nodeContentComponent]="this"
    [cell]="cells.forColumn(columns.estimatedTime)"
    [hidden]="! isEstimatedTimeShown"
  ></app-node-cell>
  <app-node-cell
    [nodeContentComponent]="this"
    [cell]="cells.forColumn(columns.estimatedTimeMax)"
    [hidden]="! isEstimatedTimeShown"
  ></app-node-cell>
  <!-- ===== end new cells approach -->

  <app-contenteditable-cell
    style='
      flex-basis: fill;
      flex-grow: 1;
      background-color: #FFFFFF;
      margin-right: 0.3em;
      margin-left: 0.3em;
      margin-top: 2px; /* help not overlap input focus outline and hackish help centering text a bit vertically */
      font-size: 13px;
    '
    [nodeContentComponent]="this"
    [cell]="cells.forColumn(columns.title)"
  ></app-contenteditable-cell>

  <app-node-debug-cell
    *ngIf="debugService.isDebug$ | async"
    [treeNode]="treeNode"
    [nodeDebug]="nodeDebug"
  ></app-node-debug-cell>

</div>
