//path {
//  stroke-dasharray: 1000;
//  stroke-dashoffset: 1000;
//  animation: dash 5s linear alternate infinite;
//}

path,
.animline {
  stroke-dasharray: 3;
  stroke-dashoffset: 0;
  animation: dash 1s linear infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 12;
  }
  to {
    stroke-dashoffset: 0;
  }
}
