<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" [defaultHref]="'/'"></ion-back-button>
      <app-app-logo></app-app-logo>
    </ion-buttons>

    <ion-title>WHAT NEXT?</ion-title>
    <ion-buttons slot="end">
      <odm-sync-status-icon></odm-sync-status-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 0.3rem">

    <span *ngIf="g.feat.showTodosNotes">This page is also useful for a version with just Learn - e.g. processing, fun cravings (boredom/focus level), etc</span>

    <span *ngIf="g.feat.showTodosNotes">First stuff that has to be done quickly every day anyway (independent of time available or boredom) - will become a habit</span>
    <ion-button *ngIf="g.feat.showExperimental" [routerLink]="'/learn/item/LearnItem__2022-05-26__17.33.46.061Z_'">Affirmations</ion-button>
    <ion-button *ngIf="g.feat.showExperimental" (click)="cravingFun()">Craving&nbsp;<span style="text-emphasis: 'x' orange"><!--Orange as warning (not negative)-->fun</span>&nbsp;Panic Button <span>&nbsp;</span> <ion-note> (Quiz/Tasks)</ion-note></ion-button>
    <app-quiz-button style="display: block; margin-bottom: 0.5rem"></app-quiz-button>

    <ng-container *ngIf="g.feat.mockups">
      <p><ion-note>Idea: generate a day (or time-chunk) plan proposal, instead of just next item</ion-note></p>

      How much time I have:
      <ion-range></ion-range>
      Boredom / cravings level:
      <ion-range></ion-range>

      <ion-note><p>This will be automatically sorted depending on scheduling</p></ion-note>

      <ion-button *ngIf="g.feat.mockups" [disabled]="true">Automatic mode</ion-button>

      <!-- TODO: hierarchical, e.g.
        learning: quiz, processing
        planning: day, week, long-term
      -->

    </ng-container>

    <div
      style="border: 4px solid green; border-radius: 7px; display: inline-block"
    >
      <ion-button [routerLink]="'/tree'">Plan
      </ion-button>
    </div>

    <ion-button *ngIf="feat.tutorial.unpolished" [routerLink]="'/tutorial'">LifeSuite App Tutorial</ion-button>

    <ion-button *ngIf="g.feat.mockups" [disabled]="true">Physical Exercises (WITH TIMER)
      <!-- Timer can run in background or big timer on fullscreen -->
      <!-- affirmations / motivational stuff can be displayed -->
    </ion-button>

    <ion-button *ngIf="g.feat.mockups" [disabled]="true">N-Minute rule</ion-button>

    <ion-button *ngIf="g.feat.mockups" [disabled]="true">Process Inboxes/TODOs</ion-button>

    <ion-button [routerLink]="'/mindfulness'">Mindfulness</ion-button>
    <ion-button *ngIf="g.feat.showExperimental" [routerLink]="'/contemplate-life'">
      Contemplate&nbsp; <!-- Big Pictures --> <ion-note>Life Overviews<!--(here life overview diagrams)--></ion-note>
      life in some pictures: https://www.linkedin.com/posts/hubertmisztela_livr-ugcPost-7025890241727090688-V2KH/?utm_source=share&utm_medium=member_desktop
    </ion-button>
    <!-- Other keywords: internalize -->
    <ion-button [routerLink]="'/sleep'">Sleep</ion-button>


    <ion-button *ngIf="g.feat.mockups" [disabled]="true">Affirmations Quiz</ion-button>

    <span *ngIf="g.feat.showUgly">Learning:</span>

    <app-process-button></app-process-button>

    <ion-button *ngIf="g.feat.showExperimental" [routerLink]="'/item-processing'">Process Learn Items (& tasks)</ion-button>
    <ion-button *ngIf="g.feat.showExperimental" [routerLink]="'/categories'">Categories</ion-button>
    <ion-button *ngIf="g.feat.showExperimental" [routerLink]="'/categories-stats'">
      <!--      <ion-icon name="ba" slot="start"></ion-icon>-->
      Categories Stats
    </ion-button>

    <ion-button *ngIf="g.feat.mockups" [disabled]="true">Learn</ion-button>


    <ion-button [routerLink]="'/learn'">
      Do tasks&nbsp;
<!--      <ion-note>TODO: link to items list with tasks preset; maybe some tasks stats times per importance, milestones, etc</ion-note>-->
    </ion-button>

    <ion-button [routerLink]="'/journal/write'">Write Journal</ion-button>

    <ion-button [routerLink]="'/journal'">RETROSPECTIVE</ion-button>
    <ion-button [routerLink]="'/success-chance'">
      <ion-icon name="happy-outline" slot="start"></ion-icon>
      Success Probability Calc
    </ion-button>
    <ion-button [routerLink]="'/exponential-improvement'">
      <ion-icon name="trending-up-outline" slot="start"></ion-icon>
      Exponential Improvement <span *ngIf="feat.showUgly">Calc</span>
    </ion-button>
    <ion-button *ngIf="g.feat.showExperimental" [routerLink]="['/learn/stats']">
      <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
      Check Your progress
    </ion-button>



    <ion-button *ngIf="g.feat.mockups" [disabled]="true">Execute routine</ion-button>

    <ion-button *ngIf="g.feat.mockups" [disabled]="true">Work on routines</ion-button>

    <!-- could be button - work on health (mental / physical), do something fun, increase ENERGY -->

    <!-- TODO: (good) stimulants (coffee, etc.) right amount -->
    <!-- TODO: energy also right amount -->

  </div>

  <app-energy-graph
    *ngIf="g.feat.lifedvisor && g.feat.unpolished"
    style="width: 100%; height: 100%"
  ></app-energy-graph>

</ion-content>
