<ion-button
  style="height: 100%"
  (touchstart)="onMicClick($event)"
  (click)="onMicClick()"
  [color]="isRecording ? 'danger' : 'primary' "
>
  <!--   (mousedown)="onMicClick()"
  (dragstart)="onMicClick()"
-->
  <ion-icon [icon]="isRecording ? 'recording' : 'mic-outline'"></ion-icon>
  &nbsp;
  {{isRecording ? 'stop' : 'record'}}
  <!-- TODO: record/*search*/entry when search/add via voice is implemented -->
</ion-button>
<ion-button
  (click)="releaseMic()"
  [hidden]="! stream"
>
  X
</ion-button>
