<ion-button
  style="height: 100%"
  (touchstart)="onMicClick($event)"
  (click)="onMicClick()"
  [color]="isRecording ? 'danger' : 'primary' "
>
  <!--   (mousedown)="onMicClick()"
  (dragstart)="onMicClick()"
-->
  <ion-icon
    [icon]="isRecording ? 'recording' : 'mic-outline'"
    style="margin: 10px;"
  ></ion-icon>
  &nbsp;
  {{isRecording ? 'stop' : ''}}
  <!-- TODO: record/*search*/entry when search/add via voice is implemented -->
  <app-audio-visualizer
    [stream]="stream"
    *ngIf="isRecording"
  ></app-audio-visualizer>
</ion-button>
<ion-button
  (click)="releaseMic()"
  [hidden]="! stream"
>
  X
</ion-button>
