<app-time-tracking-menu [treeNode]="treeNode"></app-time-tracking-menu>

<button
  class="btn btn-primary"
  (click)="openDeleteConfirmationDialog()">
  Delete
</button>

<button
  class="btn btn-primary"
  (click)='navigateInto()'>
  Navigate Into
</button>

<button
  class="btn btn-primary"
  (click)='addChild()'>
  Add Sub-task
</button>

<button
  class="btn btn-primary"
  (click)='toClipboard()'>
  To Clipboard
</button>

<button
  *ngIf="clipboardService.hasContent"
  class="btn btn-primary"
  (click)='pasteCopyHereFromClipboard()'>
  Copy here from clipboard
</button>

<button
  *ngIf="clipboardService.hasContent"
  class="btn btn-primary"
  (click)='pasteMoveHereFromClipboard()'>
  Move here from clipboard
</button>

Created: {{getWhenCreated()}}

Classes:

<p>
  Milestone
</p>

<p>
  <i style="cursor: pointer; user-select: none; color: #777"
     class="material-icons"
  >note</i>
  Note
</p>


<p>
  <fa-icon [icon]="['fas', 'pen-nib']" [mask]="['fas', 'circle']"></fa-icon>
  Journal Entry <!--(same as a loose note? &#45;&#45; Journal entry is more like self-introspection can have more info like mood, geolocation)-->
</p>


<p>
  <fa-icon icon="project-diagram"></fa-icon>
  Project
</p>

<p>
  <i style="cursor: pointer; user-select: none; color: #777"
     class="material-icons"
  >settings_applications</i>
  Task
</p>

<p>
  <i style="cursor: pointer; user-select: none; color: #777"
     class="material-icons"
  >calendar_today</i>
  Day-Plan
</p>




