<form #g="ngForm">
  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input type="email" ngModel name="email" [required]="true" email></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" ngModel name="password" [minlength]="8"></ion-input>
  </ion-item>
  <ion-button (click)="loginEmailAndPassword(g)" type="submit" color="primary" expand="block" [disabled]="!g.valid">
    Login</ion-button>
</form>
