<div style="display: flex; flex-direction: column; align-items: stretch">
  <div style="display: flex; flex-direction: row">
    <ion-label>more diligent
    </ion-label>
    <div style="flex-grow: 1"
    ></div>
    <ion-note
    >{{ (control.value / 100)?.toFixed(2) }}
    </ion-note>
    <div style="flex-grow: 1"
    ></div>

    <ion-label>quicker</ion-label>
  </div>

  <ion-range
    [min]="110"
    [max]="15000"
    [pin]="false"
    [step]="1"
    [formControl]="control"
  >
  </ion-range>
</div>
