<div style="display: flex; flex-direction: column; align-items: stretch; height: 100%">
  <ng-container
    *ngFor="let textDesc of textDescriptors"
  >
    <div
      style="font-size: 70%; margin-top: 5px"
    >
      {{textDesc.uiName}}
    </div>

    <div
      style="border-bottom: 1px var(--ion-color-primary) solid"
    >
      <ion-textarea
        [rows]="4"
        style="flex-grow: 1"
        (change)="onChangeText($event, textDesc)"
        (input)="onChangeText($event, textDesc)"
        placeholder="Journal entry: {{textDesc.uiName}}"
      ></ion-textarea>

    </div>
  </ng-container>

</div>
