<div
  style="display: flex; align-items: center;"
>

  <ng-container
    *ngIf="debugService.isDebug$.lastVal"
  >
    tt entry: {{timeTrackedEntry.isTrackingNow | json}}
    tt start: {{timeTrackedEntry.whenFirstStarted | json}}
  </ng-container>

  <app-time-passing
    [ngClass]="{timeTrackingNow: timeTrackedEntry.isTrackingNow}"
    [referenceTime]="timeTrackedEntry?.whenFirstStarted"
    [pausableEntry]="timeTrackedEntry"
    [isCountDown]="false"
    *ngIf="timeTrackedEntry.wasTracked"
  ></app-time-passing>

  <i style="vertical-align: middle"
     class="material-icons actionable"
     (press)="onStopClicked()"
     *ngIf="false"
  >
    stop
  </i>

  <i *ngIf="timeTrackedEntry.isTrackingNow"
     style="vertical-align: middle"
     class="material-icons actionable"
     (click)="onPauseClicked()"
  >
    pause
  </i>

  <i *ngIf="! timeTrackedEntry.isTrackingNow"
     style="vertical-align: middle"
     class="material-icons actionable"
     (click)="onPlayClicked()"
  >
    play_arrow
  </i>

</div>
