<div
  style="display: flex; align-items: center; cursor: pointer; border-radius: 3px; padding: 1px; margin-right: 2px;"
  [ngClass]="{timeTrackingNow: timeTrackedEntry.isTrackingNow}"
>

  <ng-container
    *ngIf="debugService.isDebug$.lastVal"
  >
    tt entry: {{timeTrackedEntry.isTrackingNow | json}}
    tt start: {{timeTrackedEntry.whenFirstStarted | json}}
    tt: {{timeTrackedEntry.timeTrackable.getItemData()?.timeTrack | json}}
  </ng-container>

  <app-time-passing
    style="margin-left: 4px; margin-right: -2px;"
    *ngIf="(((config$ | async)?.showTimeTrackedValue || toolBarMode ) && timeTrackedEntry.wasTracked) || timeTrackedEntry.isTrackingNow"
    [referenceTime]="timeTrackedEntry?.whenFirstStarted"
    [pausableEntry]="timeTrackedEntry"
    [isCountDown]="false"
  ></app-time-passing>

  <i style="vertical-align: middle"
     class="material-icons actionable startPauseIcon"
     (press)="onStopClicked()"
     *ngIf="false"
  >
    stop
  </i>

  <i *ngIf="timeTrackedEntry.isTrackingNow"
     style="vertical-align: middle"
     class="material-icons actionable startPauseIcon"
     (click)="onPauseClicked()"
  >
    pause
  </i>

  <i *ngIf="! timeTrackedEntry.isTrackingNow"
     style="vertical-align: middle"
     class="material-icons actionable"
     (click)="onPlayClicked()"
  >
    play_arrow
  </i>

</div>
