<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--      <ion-back-button [defaultHref]="'/'"></ion-back-button>-->
      <ion-icon
        [size]="'25px'"
        [routerLink]="'/'"
        name="arrow-back-outline"
        class="action-icon"
      ></ion-icon>
    </ion-buttons>

    <ion-title>Timeline</ion-title>

    <ion-buttons slot="end">
      <ion-icon style="margin-right: 7px;" class="action-icon" name="book-outline" slot="end" [routerLink]="['/learn']"></ion-icon>

      <odm-sync-status></odm-sync-status>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <!--    <ion-fab-button id='fabAddTimer2' (click)="onAddTimer()">-->
    <!--      +-->
    <!--&lt;!&ndash;      <ion-icon name="add-circle"></ion-icon>&ndash;&gt;-->
    <!--    </ion-fab-button>-->
    <ion-fab-button id='fabAddTimer' [routerLink]="'/journal/write/new'">
      <ion-icon name="add-outline"></ion-icon>
      <!--      <img src="assets/icon/CloudTime_Logo.svg" height="25rem">-->
      <!--      +-->
      <!--      <ion-icon name="add-circle"></ion-icon>-->
    </ion-fab-button>

  </ion-fab>

  <ion-list>
    <ng-container
      *ngFor="let item$ of (journalEntriesService.items$ | async); trackBy: trackById"
    >
      <app-journal-entry-list-item
        [item$]="item$"
      ></app-journal-entry-list-item>
    </ng-container>
  </ion-list>


</ion-content>
