
<div
  [routerLink]="['/journal/entry/' + item$.id]"
  style="cursor: pointer"
>
  <div>
    {{(itemVal$Any | async)?.mood}}
  </div>
  <div>
    {{(itemVal$Any | async)?.mood ?.numVal}}
  </div>
  Journal entry

  {{item$.val$ | async | json}}
  <div>
    <ion-note>
      TODO: this could/should be interwoven with time-tracking, moderation timers, ...
      <!--
        (no need to write it down manually), finishing tasks, adding learn entries, learn progress-es, voice memos, vlog entries,
        LifeDvisor stuff (learning progress, comments)
      -->
    </ion-note>
  </div>
</div>

