<svg id="radical-candor" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
     viewBox="0 0 1440 900"
>
  <defs>
    <clipPath id="_clipPath_5y8JVPzMakfWHCFYJaB6yyBmW7YXUNM4">
      <rect width="1440" height="900"/>
    </clipPath>
  </defs>
  <g clip-path="url(#_clipPath_5y8JVPzMakfWHCFYJaB6yyBmW7YXUNM4)">
    <rect id=radical_candor_bg x="561.5" y="186.189" width="513.807" height="311.267" transform="matrix(1,0,0,1,0,0)"
          fill="rgb(152,253,152)"/>
    <line x1="561.5" y1="186.189" x2="561.5" y2="846" vector-effect="non-scaling-stroke" stroke-width="4"
          stroke="rgb(145,145,145)" stroke-linejoin="miter" stroke-linecap="square" stroke-miterlimit="3"/>
    <path d=" M 571.5 184.189 L 561.5 164.189 L 551.5 184.189 Z " fill="rgb(145,145,145)" stroke="none"/>
    <path d=" M 551.5 848 L 561.5 868 L 571.5 848 Z " fill="rgb(145,145,145)" stroke="none"/>
    <line x1="80" y1="497.456" x2="1075.308" y2="497.456" vector-effect="non-scaling-stroke" stroke-width="4"
          stroke="rgb(145,145,145)" stroke-linejoin="miter" stroke-linecap="square" stroke-miterlimit="3"/>
    <path d=" M 78 487.456 L 58 497.456 L 78 507.456 Z " fill="rgb(145,145,145)" stroke="none"/>
    <path d=" M 1077.308 507.456 L 1097.308 497.456 L 1077.308 487.456 Z " fill="rgb(145,145,145)" stroke="none"/>
    <text transform="matrix(1.243,0,0,1.243,688.244,317.942)"
          style="font-family:'Roboto';font-weight:400;font-size:48px;font-style:normal;fill:#528EF7;stroke:none;">
      RADICAL
    </text>
    <text transform="matrix(1.243,0,0,1.243,688.244,387.837)"
          style="font-family:'Roboto';font-weight:400;font-size:48px;font-style:normal;fill:#528EF7;stroke:none;">CANDOR
    </text>
    <text transform="matrix(1.243,0,0,1.243,167.934,317.942)"
          style="font-family:'Roboto';font-weight:400;font-size:48px;font-style:normal;fill:#528EF7;stroke:none;">
      RUINOUS
    </text>
    <text transform="matrix(1.243,0,0,1.243,167.934,387.837)"
          style="font-family:'Roboto';font-weight:400;font-size:48px;font-style:normal;fill:#528EF7;stroke:none;">
      EMPATHY
    </text>
    <text transform="matrix(1.243,0,0,1.243,99,635.29)"
          style="font-family:'Roboto';font-weight:400;font-size:48px;font-style:normal;fill:#528EF7;stroke:none;">
      MANIPULATIVE
    </text>
    <text transform="matrix(1.243,0,0,1.243,99,705.185)"
          style="font-family:'Roboto';font-weight:400;font-size:48px;font-style:normal;fill:#528EF7;stroke:none;">
      INSINCERITY
    </text>
    <text transform="matrix(1.243,0,0,1.243,628.289,635.29)"
          style="font-family:'Roboto';font-weight:400;font-size:48px;font-style:normal;fill:#528EF7;stroke:none;">
      OBNOXIOUS
    </text>
    <text transform="matrix(1.243,0,0,1.243,628.289,705.185)"
          style="font-family:'Roboto';font-weight:400;font-size:48px;font-style:normal;fill:#528EF7;stroke:none;">
      AGGRESSION
    </text>
    <text transform="matrix(1.243,0,0,1.243,500.17,72.5)"
          style="font-family:'Roboto';font-weight:400;font-size:36px;font-style:normal;fill:#F79752;stroke:none;">CARE
    </text>
    <text transform="matrix(1.243,0,0,1.243,420.937,124.922)"
          style="font-family:'Roboto';font-weight:400;font-size:36px;font-style:normal;fill:#F79752;stroke:none;">
      PERSONALLY
    </text>
    <text transform="matrix(1.243,0,0,1.243,1130.934,486.44)"
          style="font-family:'Roboto';font-weight:400;font-size:36px;font-style:normal;fill:#F79752;stroke:none;">
      CHALLENGE
    </text>
    <text transform="matrix(1.243,0,0,1.243,1130.934,538.861)"
          style="font-family:'Roboto';font-weight:400;font-size:36px;font-style:normal;fill:#F79752;stroke:none;">
      DIRECTLY
    </text>
  </g>
</svg>
