<div *ngIf="item$ else noItem">

  <app-play-button
    [item]="(item$ ?. locallyVisibleChanges$ | async) !"
    [itemId]="item$ ?. id"
  ></app-play-button>

  <app-item-side-editor
    [item$]="item$ !"
    [side]="(itemVal$ ! | async) ?. getSideWithQuestionOrFirstNonEmpty()"
  ></app-item-side-editor>

  <div
    #answers
    style="border: 3px darkgreen solid; border-radius: 6px; padding: 6px"
    *ngIf="(showAnswer$ | async)"
  >
    <ng-container *ngFor="let answerSide of (itemVal$ | async) ?. getSidesWithAnswers()">
      <!--      <hr>-->
      <app-side-label
        *ngIf="(showHint$ | async) && ! (showAnswer$ | async)"
        [side]="answerSide"
      ></app-side-label>

      <app-item-side-editor
        [item$]="item$ !"
        [side]="answerSide"
      ></app-item-side-editor>

    </ng-container>
  </div>


<!--  <app-show-answer-and-rate-->
<!--  ></app-show-answer-and-rate>-->

</div>

<ng-template #noItem>
  No quiz item
</ng-template>
