
<div *ngIf="item$ else noItem">
  <app-importance-banner
    [item$]="item$"
  ></app-importance-banner>


  <app-play-button
    [item]="(itemVal$ | async) !"
    [itemId]="item$ . id"
  ></app-play-button>

  <app-item-side-editor
    [item$]="item$ !"
    [side]="(itemVal$ ! | async) ?. getSideWithQuestionOrFirstNonEmpty()"
  ></app-item-side-editor>

  <div
    #answers
    style="border: 3px var(--answerBorderColor) solid; border-radius: 6px; padding: 6px"
    *ngIf="(showHint$ | async) || (showAnswer$ | async)"
  >
    <ng-container
      *ngIf="(showHint$ | async)"
    >
      <app-item-side-editor
        *ngFor="let hintSide of (itemVal$ | async) ?. getSidesWithHints()"
        [item$]="item$ !"
        [side]="hintSide"
      ></app-item-side-editor>
    </ng-container>

    <ng-container *ngFor="let answerSide of (itemVal$ | async) ?. getSidesWithAnswers()">
      <!--      <hr>-->
<!--      <app-side-label-->
<!--        *ngIf="(showHint$ | async) && ! (showAnswer$ | async)"-->
<!--        [side]="answerSide"-->
<!--      ></app-side-label>-->

      <app-item-side-editor
        [item$]="item$ !"
        [side]="answerSide"
        [showRevealButton]="! (showAnswer$ | async)"
      ></app-item-side-editor>

    </ng-container>
  </div>


<!--  <app-show-answer-and-rate-->
<!--  ></app-show-answer-and-rate>-->

</div>

<ng-template #noItem>
  <div style="margin: 1rem">
    No quiz item <!-- TODO. Loading ... -->
  </div>
</ng-template>
