<div *ngIf="item$ else noItem">

  <app-time-passing
    [isCountDown]="false"
  ></app-time-passing>

  <app-play-button
    [item]="(item$ ?. locallyVisibleChanges$ | async) !"
    [itemId]="item$ ?. id"
  ></app-play-button>

  <app-item-side-editor
    [item$]="item$ !"
    [side]="(itemVal$ ! | async) ?. getSideWithQuestionOrFirstNonEmpty()"
  ></app-item-side-editor>

  <ion-button
    (click)="showHint()"
  >HINT</ion-button>

  <ion-button
    (click)="showAnswer()"
  >Show answer</ion-button>

  <ion-button
    [routerLink]="'/learn/item/' + item$ ?. id"
  >EDIT</ion-button>

  <div
    *ngIf="shouldShowAnswer || shouldShowHint"
  >
    <!--    <app-item-sides-->
    <!--      [item$]="(item$$ | async)"-->
    <!--      [showQuestions]="false"-->
    <!--      [omitEmpty]="true"-->
    <!--    ></app-item-sides>-->
    <ng-container *ngFor="let answerSide of (itemVal$ | async) ?. getSidesWithAnswers()">
<!--      <hr>-->
      <app-side-label
        *ngIf="shouldShowHint && ! shouldShowAnswer"
        [side]="answerSide"
      ></app-side-label>

      <app-item-side-editor
        *ngIf="shouldShowAnswer"
        [item$]="item$ !"
        [side]="answerSide"
      ></app-item-side-editor>

    </ng-container>
  </div>

  <ng-container
    *ngIf="shouldShowAnswer"
  >
    <app-self-rating
      [autoSave]="false"
      [item$]="item$ !"
      (numericValue)="selfRating = $event"
    ></app-self-rating>

    <ion-button
      (click)="applyAndNext()"
    >
      APPLY & NEXT
    </ion-button>

  </ng-container>

</div>

<ng-template #noItem>
  No quiz item
</ng-template>
