<!--<app-confirm-modal-->
  <!--id="confirmDelete"-->
  <!--class="modal fade"-->
  <!--role="dialog"-->
<!--&gt;</app-confirm-modal>-->

<div
  (window:keydown.meta.alt.enter)="newNodeAtVisualRoot()"
  (window:keydown.control.alt.enter)="newNodeAtVisualRoot()"
  style="width: 100%"
>
  <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
      <app-toolbar [treeHost]="this"></app-toolbar>

      <!--Time left: {{treeModel.timeLeftSumText()}}-->
      <div class="tree-container">
        <app-prime-ng-tree
          *ngIf="! useNestedTree"
          [treeModel]="treeModel"
          [treeHost]="this"
        ></app-prime-ng-tree>

        <app-nested-tree
          class="tree-component"
          *ngIf="useNestedTree"
          [treeModel]="treeModel"
          [treeHost]="this"
        ></app-nested-tree>
      </div>

      <button
        class="btn btn-primary"
        (click)="appendNode()"
      >
        Append
      </button>
    <!--</div>-->
  <!--</div>-->

</div>

