<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    style="margin: 1em;"
  >
    Also available as a web app:
    <br>
    <br>
    <a href="https://lifedvisor.innotopic.com/">https://lifedvisor.innotopic.com/</a>

  </div>

  <br>


  <div
    style="margin: 1em;"
  >
    Google Play Store page (Android App) :
    <br>
    <br>
    <a href="https://play.google.com/store/apps/details?id=app.lifesuite">https://play.google.com/store/apps/details?id=app.lifesuite</a>

  </div>

  <br>

  <div
    style="margin: 1em;"
  >
    Version 1.16
  </div>

</ion-content>
