<p style="margin-left: 5px;" [routerLink]="['/learn/item/'+item.id]">
<!--  id: {{item.id}}-->
  <!--      {{item | json}}-->
  <!--      <ion-title>{{item.title}}</ion-title>-->
  <ion-note *ngIf="item.isTask">TASK</ion-note>
  &nbsp;
  <ion-button *ngIf="item.hasAudio" (click)="playAudio(); $event.stopPropagation()">
    <ion-icon icon="play"></ion-icon>
  </ion-button>

  <span style="color: orange">
    {{ item.lastSelfRating }}
  </span>
<!--  {{item.title}}-->

<!--  <ng-container-->
<!--    *ngFor="let side of sidesDefsArray"-->
<!--  >-->
<!--    {{item[side.id] ? (item[side.id] + ' • ' ) : undefined }}-->
<!--  </ng-container>-->

  {{ joinedSides() }}

<!--  <app-play-button *ngIf="item.hasAudio"></app-play-button>-->

</p>
