<div
  style="display: flex; align-items: center; cursor: pointer; border-radius: 3px; padding: 1px; margin-right: 2px;"
  [ngClass]="{timeTrackingNow: (timeTrackVal$ | async)?.isTrackingNow}"
>

  <!--  val json: {{(timeTrackVal$ | async) | json}}-->

  <i *ngIf="(timeTrackVal$ | async)?.isTrackingNow"
     style="vertical-align: middle; color: var(--ion-color-primary-contrast)"
     class="material-icons actionable startPauseIcon"
     (click)="onPauseClicked($event)"
  >
    pause
  </i>

  <i *ngIf="! (timeTrackVal$ | async)?.isTrackingNow"
     style="vertical-align: middle"
     class="material-icons actionable"
     (click)="onPlayClicked($event)"
  >
    play_arrow
  </i>

  <i style="vertical-align: middle"
     class="material-icons actionable startPauseIcon"
     (press)="onStopClicked()"
     *ngIf="false"
  >
    stop
  </i>

  <!-- ==== End start/pause icon-->

  <app-time-passing
    style="margin-left: 4px; margin-right: -2px"
    *ngIf="
        (((config$ | async)?.showTimeTrackedValue || toolBarMode )
        && (timeTrackVal$ | async)?.wasTracked)
        || (timeTrackVal$ | async)?.isTrackingNow"
    [referenceTime]="(timeTrackVal$ | async)?.whenFirstStarted"
    [pausableEntry]="timeTrackedEntry"
    [isCountDown]="false"
  ></app-time-passing>

  <ng-container
    *ngIf="debugService.isDebug$.lastVal"
  >
    tt entry: {{(timeTrackVal$ | async)?.isTrackingNow | json}}
    tt start: {{(timeTrackVal$ | async)?.whenFirstStarted | json}}
    tt json: {{(timeTrackVal$ | async) | json}}
  </ng-container>

</div>
