<!--<ng-container *ngIf="item"> &lt;!&ndash; hack for item being undefined in ion virtual scroll &ndash;&gt;-->

<div style="margin-left: 5px; padding: 5px; border-bottom: solid #222222 2px;"
     [routerLink]="['/learn/item/'+item.id]"
>

  <app-selection-checkbox
    *ngIf="selection.isSelectionActive"
    [selection]="selection"
    [itemId]="item.id !"
  ></app-selection-checkbox>

  <span
    *ngIf="feat.showAdvanced"
    style="color: var(--secondary); font-size: 10px; opacity: 50%"
  >
    {{index+1}}.
  </span>

  <!-- FIXME icon task / learnable / journal-entry / note -->
  <ion-note *ngIf="g.feat.roiPoints.showUgly && item.val?.isTask">
    TASK {{((item.getEffectiveRoi() || 0) * 1000000)?.toFixed(3)}} ROI
  </ion-note>
  <ion-button size="small"
              *ngIf="feat.planToday.mockups"
              (click)="addToToday($event)"
  >
    <!-- should be dot dot dot menu anyway -->
    <ion-icon slot="icon-only" name="today-outline"></ion-icon>
     <!-- TODO: checkbox if already included -->
    <!-- TODO: later: this week / month / quarter / year -->
  </ion-button>
  <ion-note *ngIf="item.val?.isTask">TASK</ion-note>
  <span *ngIf="item.val?.isTask && item.val?.isEffectivelyToLearn()">, &nbsp;</span>
<!--  <ion-note *ngIf="item.val?.isEffectivelyToLearn()">LEARN</ion-note>-->
  <ion-note *ngIf="item.val?.isEffectivelyToLearn()">
    <ion-icon style="margin-right: 7px;" name="book-outline"></ion-icon>
  </ion-note>

  <span
    style="color: var(--ion-color-primary)"
    *ngIf="item.val?.importance?.numeric || '-'; let importanceNum"
  >
    <span *ngIf="g.feat.showUgly">{{getImportanceDescriptor() ?. numeric}}x </span>
    {{getImportanceDescriptor() ?. abbrev}}
  </span>

  <ng-container
    *ngIf="item.val?.importanceCurrent?.id"
  > <!--  && ( item.val?.importance?.id !== item.val?.importanceCurrent?.id ) -->
    {{item.val?.importance?.id}} {{item.val?.importanceCurrent?.id}}
    <span
        style="color: var(--ion-color-primary)"
        *ngIf="item.val?.importanceCurrent?.numeric || '-'; let importanceNum"
      >
    ➤
        <span *ngIf="g.feat.showUgly">{{ item.getEffectiveImportance() ?. numeric }}x </span>{{ item.getEffectiveImportance() ?. id }}
    </span>
  </ng-container>

  {{ getFunLevelDescriptor() ?. icons }}

  {{ getPhysicalHealthImpactLevelDescriptor() ?. icons
      ?. replaceAll('😊', '🤸')
      ?. replaceAll('😡', '💀')
  }}

  {{ getMentalHealthImpactLevelDescriptor() ?. icons ?. replaceAll('😊', '🧠') }}

  <!--  id: {{item.id}}-->
  <!--      {{item | json}}-->
  <!--      <ion-title>{{item.title}}</ion-title>-->

  &nbsp;<ion-icon
    *ngIf="feat.mockups"
    (click)="editEstimate();$event.stopPropagation()" class="action-icon" name="time"
  ></ion-icon>

  &nbsp;
  <app-play-button
    *ngIf="item.val?.hasAudio"
    [item]="item"
    [itemId]="item.id"
  ></app-play-button>

  <span style="color: var(--ion-color-primary)">
    {{ item.val?.lastSelfRating }}
  </span>

  <!--  <ng-container-->
  <!--    *ngFor="let side of sidesDefsArray"-->
  <!--  >-->
  <!--    {{item[side.id] ? (item[side.id] + ' • ' ) : undefined }}-->
  <!--  </ng-container>-->

  <span [innerHTML]="joinedSidesOneLine()"></span> <!-- FIXME div not span (proper HTML) -->

  <!--  <app-rich-text-view-->
  <!--    [htmlString]="joinedSides()"-->
  <!--  ></app-rich-text-view>-->

  <!--  <hr>-->

</div>

<!--</ng-container>-->
