<!--qS: {{quizStatus | json}}-->

<ng-container
  *ngIf="quizStatus else loading"
>
  <span>
    | left:
    <strong style="font-size: 130%; color: white">{{ quizStatus ?. itemsLeft }}</strong>
    | next 12h:
    {{ quizStatus ?. itemsLeftToday }}
  </span>
  <!--  {{ (quizStatus ?. itemsLeftByImportance) | json }}-->
  <table>
    <tr >
      <td></td>

      <td
        *ngFor="let importance of importancesArray"
        [ngClass]="{ highlight: isCurrentDisplayed(importance) }"
      >
        {{importance.abbrev}}
      </td>
    </tr>
    <tr >
      <td></td>

      <td
        *ngFor="let importance of importancesArray"
        [ngClass]="{ highlight: isCurrentDisplayed(importance) }"
      >
        {{quizStatus !. itemsLeftByImportance ! [importance.id !]}}
      </td>
    </tr>
    <tr>
      <td>≥</td>
      <td
        *ngFor="let importance of importancesArray"
      >
        {{quizStatus !. itemsLeftByImportanceAtLeast ! [importance.id !] }}
      </td>
    </tr>

    <tr style="font-size: 50%; text-align: center">
      <td>
      </td>
    </tr>

    <tr >
      <td></td>
      <td
        *ngFor="let importance of importancesArray"
      >
        {{quizStatus !. itemsCountByImportance ! [importance.id !]}}
      </td>
    </tr>
    <tr>
      <td>≥</td>
      <td
        *ngFor="let importance of importancesArray"
      >
        <!-- those could be clickable to set corresponding filter on list -->
        {{quizStatus !. itemsCountByImportanceAtLeast ! [importance.id !] }}
      </td>
    </tr>


  </table>
</ng-container>

<ng-template #loading>
  Loading...
</ng-template>


