<!--<ng-container-->
  <!--*ngIf="! treeModel.isRootShown"-->
<!--&gt;-->
  <!--<ng-container *ngFor="let childNode of treeModel.navigation.visualRoot.children">-->
    <!--<app-nested-tree-node-->
      <!--[treeNode]="childNode"-->
      <!--[treeHost]="treeHost"-->
    <!--&gt;</app-nested-tree-node>-->
    <!--<hr/>-->
  <!--</ng-container>-->
<!--</ng-container>-->

<!--<ng-container *ngIf="treeModel.isRootShown">-->
  <ng-container *ngFor="let treeNodeWrapperHack of wrapperHackArray">
    <!--<ng-container *ngIf="treeNodeWrapperHack.">-->

    <app-nested-tree-node
      [treeNodeWrapperHack]="treeNodeWrapperHack"
      [treeHost]="treeHost"
    ></app-nested-tree-node>
  </ng-container>
<!--</ng-container>-->

<!--<app-test-component-instance-changing-on-input-value-change-->
  <!--[treeNode]="treeModel.navigation.visualRoot"-->
<!--&gt;</app-test-component-instance-changing-on-input-value-change>-->
