SHOPPING LISTS PAGE

<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="cart" />
      Shopping Lists
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id='fabAddItem' (click)="onAddItem()">
      <ion-icon name="cart" />
<!--      +-->
      <!--      <ion-icon name="add-circle" />-->
    </ion-fab-button>
  </ion-fab>
  <app-shopping-lists-list
  ></app-shopping-lists-list>

</ion-content>
