\:host
  display: flex
  align-items: stretch

[contenteditable]
  width: 100%
  vertical-align: middle
  padding-top: 4px // hack for centering text in contenteditable
  padding-left: 3px // coz chrome focus border was making cursor and characters hard to see at leftmost pos

//[contenteditable] *
//  vertical-align: middle
