
<!--<ion-picker></ion-picker>-->
<!--<ion-picker-column></ion-picker-column>-->


<!--{{timer.durationSeconds}} seconds-->


<div style="display: flex">
    <app-number-picker id=hoursPicker [value]="pickerHours" (change)="pickerHours = $event; onChangeTime()"

    ></app-number-picker>

    <app-number-picker id=minutesPicker [value]="pickerMinutes" (change)="pickerMinutes = $event; onChangeTime()"

    ></app-number-picker>

    <app-number-picker id=secondsPicker [value]="pickerSeconds" (change)="pickerSeconds = $event; onChangeTime()"

    ></app-number-picker>

</div>
<ion-button
  (click)="openTimePicker()"
>
  Pick
</ion-button>


<div class="picker-wrapper sc-ion-picker-md" style="height: 300px; width: 300px">
  <ion-picker-column [col]="_pickerColumn"
  ></ion-picker-column>
</div>
IonPicker:
<!--<ion-picker-->
<!--  [columns]="[_pickerColumn]"-->
<!--&gt;</ion-picker>-->
