
<!--<ion-picker></ion-picker>-->
<!--<ion-picker-column></ion-picker-column>-->


<!--{{timer.durationSeconds}} seconds-->


<div style="display: flex">
    <app-number-picker id=hoursPicker [value]="pickerHours" (change)="pickerHours = $event; onChangeTime()"

    ></app-number-picker>

    <app-number-picker id=minutesPicker [value]="pickerMinutes" (change)="pickerMinutes = $event; onChangeTime()"

    ></app-number-picker>

    <app-number-picker id=secondsPicker [value]="pickerSeconds" (change)="pickerSeconds = $event; onChangeTime()"

    ></app-number-picker>

</div>
<ion-button
  (click)="openTimePicker()"
>
  Pick
</ion-button>
