<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" [defaultHref]="'/'"></ion-back-button>
      <app-app-logo></app-app-logo>
    </ion-buttons>


    <ion-title>Success Probability</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content>
  <p>(explanatory and motivational text & graphic here)</p>
  <p>So keep trying (or pivot / accept / overcome)!</p>
  <p>Related:
    <a routerLink="/ikigai">Ikigai</a>,
    <a routerLink="/ikigai">Self-discovery</a>,
    <a routerLink="/ikigai">What to do now?</a>,
    <a routerLink="/exponential-improvement">Exponential improvement</a>
  </p>

  Single attempt chance: {{(singleAttemptChance * 100).toFixed(1)}} % <ion-note>(use exponential & compounded improvements, to increase your chances)</ion-note>
  <ion-range [step]="0.1" (ionChange)="onSliderChange($event)"></ion-range>

  <p></p>
  <table style="width: 100%">
    <tr>
      <td style="writing-mode: vertical-rl; text-orientation: mixed; background: var(--ion-color-secondary)">
        Number<br>of attempts:
      </td>
      <td style="writing-mode: vertical-rl; text-orientation: mixed; background: var(--ion-color-primary)">
        Success<br>probability:
      </td>
      <td style="writing-mode: vertical-rl; text-orientation: mixed; background: var(--ion-color-primary)">
        Comment:
      </td>
    </tr>
    <tr *ngFor="let count of attemptCounts">
      <td style="color: var(--ion-color-secondary)">
        {{count}}
      </td>
      <td style="color: var(--ion-color-primary); font-weight: bold">
        {{ probabilityStr(count) }} %
      </td>
      <td>
        <div style="width: 100%; height: 20px; background: #424242">
          <div [ngStyle]="{ width: probabilityStrPercent(count), background: 'var(--ion-color-primary)', height: '20px', display: 'block' }"></div>
        </div>
      </td>
      <td style="text-align: left">
        <ion-note *ngIf="probabilityFraction(count) >= 0.999997">Six Sigma!</ion-note>
        <ion-note>        You have a reasonable chance!</ion-note>

      </td>
    </tr>
  </table>

</ion-content>
