<!--<mat-icon></mat-icon>-->
<!--<i class="material-icons">assignment</i>-->

<div
  style="display: flex; align-items: stretch; font-size: 11px"
  (keydown.alt.enter)="addChild($event)"
  (keydown.meta.enter)="keyPressMetaEnter($event)"
  (keydown.control.enter)="keyPressMetaEnter($event)"
  (keydown.control.arrowup)="reorderUp($event)"
  (keydown.control.arrowdown)="reorderDown($event)"
  [ngClass]="{'done': isDone, 'ancestor-of-focused': isAncestorOfFocused, 'node-content-container': true}"
>
<!--<div style="display: flex; align-items: center;">-->

  <i style="cursor: pointer; user-select: none; color: #777"
     (click)="toggleExpand($event)"
     class="material-icons"
  >settings_applications</i>

  <ng-container *ngIf="treeNode.isDayPlan">
    End: {{formatEndTime()}}
    Sum: {{treeNode.timeLeftSumText()}}
  </ng-container>
  <ng-container *ngIf="treeNode.itemData?.deleted">
    Deleted {{treeNode.itemData?.deleted}}
  </ng-container>
  <!--<i class="material-icons">work</i>-->
  <!--<i class="material-icons">build</i>-->
  <!--<i class="material-icons">next_week</i>-->


  <input
    #inputEstimatedTime
    maxlength="3"
    style="
      flex-basis: auto;
      width: 2.4em;
      text-align: right;
      margin: .3em;
      border-radius: 2px;
      background: #f5f5f5;
      border: none;
      padding: 2px;
    "
    [ngClass]="{'done-title': isDone}"
    (keydown.enter)="keyPressEnter($event)"
    (keydown.arrowup)="focusNodeAbove($event)"
    (keydown.arrowdown)="focusNodeBelow($event)"
    (focus)="onColumnFocused(columns.estimatedTime, $event)"
    (change)="onChangeEstimatedTime($event)"
    (keydown.arrowright)="focusToDescription()"
    (keydown.alt.arrowright)="focusToDescription()"
    (keydown.meta.arrowright)="focusToDescription()"
    (keydown.control.arrowright)="focusToDescription()"
  >
  <ng-container *ngIf="treeNode.showEffectiveDuration()">
    <span style="color: lightgray">∑:</span>{{treeNode.effectiveDurationText()}}&nbsp;
  </ng-container>
  <!--
      value="30"
      [ngModel]="estimatedTimeModel"
      (ngModelChange)="onInputChanged($event, columns.estimatedTime)"
  -->

  <div
    #inputTitle
    contenteditable
    style="
      flex-basis: fill;
      flex-grow: 1;
      background-color: #FFFFFF;
      margin-right: 0.3em;
      font-size: 11px;
      /*display: table-cell;
      vertical-align: middle; */
    "
    [ngClass]="{'done-title': isDone}"
    (keydown.enter)="keyPressEnter($event)"
    (keydown.arrowup)="focusNodeAbove($event)"
    (keydown.arrowdown)="focusNodeBelow($event)"
    (keydown.arrowleft)="focusToEstimatedTime()"
    (keydown.alt.arrowleft)="focusToEstimatedTime()"
    (keydown.control.arrowleft)="focusToEstimatedTime()"
    (keydown.meta.arrowleft)="focusToEstimatedTime()"
    (focus)="onColumnFocused(columns.title, $event)"
    (change)="onChangeEstimatedTime($event)"
  >
    <!--{{sanitizer.bypassSecurityTrustHtml(treeNode.itemData.title)}}-->
  </div>

  <!--&#45;&#45;&#45;&#45;  &#45;&#45;&#45;&#45;-->
  <!--<input-->
    <!--#inputTitle-->
    <!--style="-->
      <!--flex-grow: 1;-->
      <!--margin-right: .3em-->
    <!--"-->
    <!--(keydown.enter)="keyPressEnter()"-->
    <!--(keydown.shift.arrowleft)="shiftFocusToTime()"-->
    <!--(keydown.arrowup)="focusNodeAbove()"-->
    <!--(keydown.arrowdown)="focusNodeBelow()"-->
    <!--(focus)="onColumnFocused(columns.title)"-->
  <!--&gt;-->
  <!--[ngModel]="treeNode.itemData.title"-->
  <!--(change)="onChangeEstimatedTime()"-->
  <!--(ngModelChange)="onChange($event)"-->


  <!--     [ngModel]="treeNode"
  -->

  <ng-container *ngIf="debugService.isDebug$ | async">{{treeNode.itemId}}</ng-container>

  <button
    (click)="delete()"
    style="margin-right: .2em"
  >
    D
  </button>

  <button
    (click)="addChild()"
  >
    +
  </button>

  <!--<input-->
    <!--(keydown.enter)="keyDownEnter()"-->
    <!--(keydown.arrowdown)="keyDownArrow()"-->
    <!--(keydown.arrowup)="keyUpArrow()"-->
    <!--id="node{{node.id}}"-->
  <!--&gt;-->
  <!--id="{{node.id}}"-->
  <!--{{node.label}}-->
  <!--<button>test</button>-->

</div>
