
<!--<p>-->
  <!--Popovers can contain any arbitrary HTML, Angular bindings and even directives!-->
  <!--Simply enclose desired content or title in a <code>&lt;ng-template&gt;</code> element.-->
<!--</p>-->

<ng-template #popContent>
  <app-tree-node-menu
    [treeNode]="treeNode"
    [treeHost]="treeHost"
    [popOver]="popOver"
    [nodeContentComponent]="this"
  ></app-tree-node-menu>
</ng-template>
<!-- note: passing [nodeContentComponent]="this" might be an acceptable exception, since the popover really originates form the node-content component so it might depend on it for context -->

<ng-template #popTitle>Fancy <b>content!!</b></ng-template>
<!--<button type="button" class="btn btn-outline-secondary" [ngbPopover]="popContent" [popoverTitle]="popTitle">-->
  <!--I've got markup and bindings in my popover!-->
<!--</button>-->

<div
  style="display: flex; align-items: stretch; font-size: 13px"
  (keydown.alt.enter)="addChild($event)"
  (keydown.meta.enter)="keyPressMetaEnter($event)"
  (keydown.control.enter)="keyPressMetaEnter($event)"
  (keydown.control.arrowup)="reorderUp($event)"
  (keydown.control.arrowdown)="reorderDown($event)"
  (keydown.shift.tab)="indentDecrease($event)"
  (keydown.tab)="indentIncrease($event)"
  [ngClass]="{'done': isDone, 'ancestor-of-focused': isAncestorOfFocused, 'node-content-container': true}"
>
<!--<div style="display: flex; align-items: center;">-->

  <i
    class="material-icons tappable-icon"
    (tap)="toggleExpand($event)"
    (press)="onPress($event)"
  >expand_more</i>

  <i
    class="material-icons tappable-icon"
    (press)='treeNode.navigateInto()'
    [ngbPopover]="popContent"
    #popOver="ngbPopover"
    [autoClose]="'outside'"
  >
    {{treeNode.isDayPlan ? 'calendar_today' : 'settings_applications'}}
  </i>
  <!--<i class="material-icons">work</i>-->
  <!--<i class="material-icons">build</i>-->
  <!--<i class="material-icons">assignment</i>-->
  <!--<mat-icon></mat-icon>-->

  <span *ngIf="treeNode.isDayPlan" style="user-select: none">
    End: {{formatEndTime()}}
    <!--Sum: {{treeNode.timeLeftSumText()}}-->
  </span>
  <ng-container *ngIf="treeNode.itemData?.deleted">
    Deleted <!--{{treeNode.itemData?.deleted}}-->
  </ng-container>

  <input
    #inputEstimatedTime
    maxlength="3"
    style="
      flex-basis: auto;
      width: 2.4em;
      text-align: right;
      margin: .3em;
      border-radius: 2px;
      background: #f5f5f5;
      border: none;
      padding: 2px;
    "
    [ngClass]="{'done-title': isDone}"
    (keydown.enter)="keyPressEnter($event)"
    (keydown.arrowup)="focusNodeAbove($event)"
    (keydown.arrowdown)="focusNodeBelow($event)"
    (focus)="onColumnFocused(columns.estimatedTime, $event)"
    (change)="onChangeEstimatedTime($event)"
    (keydown.arrowright)="focusToDescription()"
    (keydown.alt.arrowright)="focusToDescription()"
    (keydown.meta.arrowright)="focusToDescription()"
    (keydown.control.arrowright)="focusToDescription()"
  >
  <ng-container *ngIf="treeNode.showEffectiveDuration()">
    <span style="color: lightgray">∑:</span>{{treeNode.effectiveDurationText()}}&nbsp;
  </ng-container>

  <div
    #inputTitle
    contenteditable
    style='
      flex-basis: fill;
      flex-grow: 1;
      background-color: #FFFFFF;
      margin-right: 0.3em;
      margin-left: 0.3em;
      margin-top: 2px; /* help not overlap input focus outline and hackish help centering text a bit vertically */
      font-size: 13px;
      /*treeNode.isDayPlan ? "13px" : "11px"*/
      /*display: table-cell;
      vertical-align: middle; */
    '
    [ngClass]="{'done-title': isDone}"
    (keydown.enter)="keyPressEnter($event)"
    (keydown.arrowup)="focusNodeAbove($event)"
    (keydown.arrowdown)="focusNodeBelow($event)"
    (keydown.arrowleft)="focusToEstimatedTime()"
    (keydown.alt.arrowleft)="focusToEstimatedTime()"
    (keydown.control.arrowleft)="focusToEstimatedTime()"
    (keydown.meta.arrowleft)="focusToEstimatedTime()"
    (focus)="onColumnFocused(columns.title, $event)"
    (change)="onChangeEstimatedTime($event)"
  >
    <!--{{sanitizer.bypassSecurityTrustHtml(treeNode.itemData.title)}}-->
  </div>

  <ng-container *ngIf="debugService.isDebug$ | async">
    {{treeNode.itemId}}
    -
    {{treeNode.nodeInclusion.nodeInclusionId}}
    order:
    {{treeNode.nodeInclusion.orderNum}}
    view updates: {{debug.countApplyItemDataValuesToViews}}
  </ng-container>

  <!--<button-->
    <!--(click)="addChild()"-->
  <!--&gt;-->
    <!--+-->
  <!--</button>-->

</div>
