<!--<mat-icon></mat-icon>-->
<!--<i class="material-icons">assignment</i>-->

<div
  style="display: flex; align-items: stretch;"
  (keydown.meta.enter)="keyPressMetaEnter($event)"
  (keydown.control.enter)="keyPressMetaEnter($event)"
  (keydown.control.arrowup)="reorderUp($event)"
  (keydown.control.arrowdown)="reorderDown($event)"
  [ngClass]="{'done':isDone}"
>
<!--<div style="display: flex; align-items: center;">-->

  <i class="material-icons">settings_applications</i>
  Deleted {{treeNode.itemData?.deleted}}
  <!--<i class="material-icons">work</i>-->
  <!--<i class="material-icons">build</i>-->
  <!--<i class="material-icons">next_week</i>-->


  <input
    #inputEstimatedTime
    maxlength="3"
    style="
      flex-basis: fit-content;
      width: 3em;
      text-align: right;
      margin-left: .3em; margin-right: .3em;
    "
    (keydown.enter)="keyPressEnter($event)"
    (keydown.arrowup)="focusNodeAbove($event)"
    (keydown.arrowdown)="focusNodeBelow($event)"
    (focus)="onColumnFocused(columns.estimatedTime, $event)"
    (change)="onChangeEstimatedTime($event)"
    (keydown.arrowright)="focusToDescription()"
  >
  <!--
      value="30"
      [ngModel]="estimatedTimeModel"
      (ngModelChange)="onInputChanged($event, columns.estimatedTime)"
  -->

  <div
    #inputTitle
    contenteditable
    style="
      flex-grow: 1;
      margin-right: .3em;
      background-color: #F8F8F8;
      height: 100%;
      font-size: 20px;
    "
    (keydown.enter)="keyPressEnter($event)"
    (keydown.arrowup)="focusNodeAbove($event)"
    (keydown.arrowdown)="focusNodeBelow($event)"
    (keydown.arrowleft)="focusToEstimatedTime()"
    (focus)="onColumnFocused(columns.title, $event)"
    (change)="onChangeEstimatedTime($event)"
  >
    <!--{{sanitizer.bypassSecurityTrustHtml(treeNode.itemData.title)}}-->
  </div>

  <!--&#45;&#45;&#45;&#45;  &#45;&#45;&#45;&#45;-->
  <!--<input-->
    <!--#inputTitle-->
    <!--style="-->
      <!--flex-grow: 1;-->
      <!--margin-right: .3em-->
    <!--"-->
    <!--(keydown.enter)="keyPressEnter()"-->
    <!--(keydown.shift.arrowleft)="shiftFocusToTime()"-->
    <!--(keydown.arrowup)="focusNodeAbove()"-->
    <!--(keydown.arrowdown)="focusNodeBelow()"-->
    <!--(focus)="onColumnFocused(columns.title)"-->
  <!--&gt;-->
  <!--[ngModel]="treeNode.itemData.title"-->
  <!--(change)="onChangeEstimatedTime()"-->
  <!--(ngModelChange)="onChange($event)"-->


  <!--     [ngModel]="treeNode"
  -->


  <button
    (click)="delete()"
    style="margin-right: .3em"
  >
    Delete
  </button>

  <button
    (click)="addChild()"
  >
    Add Child
  </button>

  <!--<input-->
    <!--(keydown.enter)="keyDownEnter()"-->
    <!--(keydown.arrowdown)="keyDownArrow()"-->
    <!--(keydown.arrowup)="keyUpArrow()"-->
    <!--id="node{{node.id}}"-->
  <!--&gt;-->
  <!--id="{{node.id}}"-->
  <!--{{node.label}}-->
  <!--<button>test</button>-->

</div>
