.ui-treenode-label {
  width: 98%;
}

.done {
  /*text-decoration: overline;*/
  opacity: 0.2;
}

$border-left: 3px;


.node-content-container {
  border-left-width: $border-left
}


.ancestor-of-focused {
  border-left: dodgerblue $border-left solid;
}

