:host {
  animation: blink-animation 1s steps(2, start) infinite;
  -webkit-animation: blink-animation 1s steps(2, start) infinite;
}
@keyframes blink-animation {
  to {
    background: black;
    color: white;
    //visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    background: black;
    color: white;
    //visibility: hidden;
  }
}
