<!--<app-confirm-modal-->
  <!--id="confirmDelete"-->
  <!--class="modal fade"-->
  <!--role="dialog"-->
<!--&gt;</app-confirm-modal>-->


<div class="container-fluid" >
  <div class="row">
    <div class="col-xs-12" >
      Start:
      <!--End: {{treeModel.endTime()}}-->
      <button
        class="btn btn-primary"
        (click)='expandAll()'>
        Expand All
      </button>

      <label class="checkbox-inline" style="user-select: none">
        <input type="checkbox" [checked]="debugService.isDebug$ | async" (change)="onDebugChange($event)">
        Debug
      </label>

      <ng-container *ngIf="debugService.isDebug$ | async">
        Pending listeners: {{pendingListeners}}
      </ng-container>
      <!--Time left: {{treeModel.timeLeftSumText()}}-->
      <div class="tree-container">
        <p-tree
          class="tree-component"
          *ngIf="! useNestedTree"

          [value]="treeModel.root.children"
          draggableNodes="true"
          droppableNodes="true"
          (onNodeDrop)="nodeDrop($event)"
        >
          <ng-template
            let-node
            pTemplate="default"
          >
            <!--{{node | json}}-->
            <app-node-content
              [treeNode]="node"
              [treeHost]="this"
            ></app-node-content>
            <!-- https://www.primefaces.org/primeng/#/tree : Templating -->
            <!--<input [(ngModel)]="node.label" type="text" style="width:100%">-->
          </ng-template>
        </p-tree>

        <app-nested-tree
          class="tree-component"

          *ngIf="useNestedTree"
          [treeModel]="treeModel"
          [treeHost]="this"
        ></app-nested-tree>
      </div>

        <!--<ng-template-->
          <!--let-node-->
          <!--pTemplate="default"-->
        <!--&gt;-->
          <!--&lt;!&ndash;{{node | json}}&ndash;&gt;-->
          <!--<app-node-content-->
            <!--[treeNode]="node"-->
            <!--[treeHost]="this"-->
          <!--&gt;</app-node-content>-->
          <!--&lt;!&ndash; https://www.primefaces.org/primeng/#/tree : Templating &ndash;&gt;-->
          <!--&lt;!&ndash;<input [(ngModel)]="node.label" type="text" style="width:100%">&ndash;&gt;-->
        <!--</ng-template>-->

      <button (click)="appendNode()">Append</button>
    </div>

  </div>

</div>

