<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)='expandAll()'>
        Expand All
      </button>

      Pending listeners: {{pendingListeners}}
      <!--Node count: {{mapIdToNode.size}}-->
      <p-tree
        *ngIf="showTree"
        [value]="treeModel.root.children"
        draggableNodes="true"
        droppableNodes="true"
        (onNodeDrop)="nodeDrop($event)"
      >
        <ng-template
          let-node
          pTemplate="default"
        >
          <!--{{node | json}}-->
          <app-node-content
            [treeNode]="node"
            [treeHost]="this"
          ></app-node-content>
          <!-- https://www.primefaces.org/primeng/#/tree : Templating -->
          <!--<input [(ngModel)]="node.label" type="text" style="width:100%">-->
        </ng-template>
      </p-tree>

      <button (click)="appendNode()">Append</button>
    </div>

  </div>

</div>

