<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let timer of timersService.timers$ | async">
      <ion-label>{{timer.title}}</ion-label>
<!--            <ion-datetime display-format="MM/YYYY" picker-format="MMMM YYYY"></ion-datetime>-->
<!--      <ion-datetime (ionChange)="onChangeTime($event)" displayFormat="HH:mm"></ion-datetime>-->

      Left: {{endTime }}
      Left2: {{timeLeft}} s
      Left3: {{timeLeft | amDuration: 'seconds'}} s
      END: {{endTime |  amDateFormat }}

      <ion-button (click)="onSetDuration(timer)">duration</ion-button>
    </ion-item>
  </ion-list>

</ion-content>
