<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" [defaultHref]="'/'"></ion-back-button>
    </ion-buttons>

    <!--    <ion-title style="display: flex; align-items: center">-->
<!--    <div style="display: grid; grid-gap: 5px; grid-template-columns: auto fit-content() auto auto ">-->
    <div class="toolbar">
<!--      <ion-button color="primary" routerLink="/" > < </ion-button>-->
      <span style="flex-grow: 1"><!--Search or add--></span>

      <app-process-button
      ></app-process-button>

      <app-quiz-button
      ></app-quiz-button>

<!--      <ion-buttons slot="end">-->
        <ion-icon class="action-icon" name="bar-chart-outline" slot="end"
                  [routerLink]="['/learn/stats']"></ion-icon>
        <ion-icon class="action-icon" name="pencil" slot="end"
                  [routerLink]="['/journal/write/new']"></ion-icon>

        <odm-sync-status></odm-sync-status>
<!--      </ion-buttons>-->

    </div>

  </ion-toolbar>

  <div
    style="display: flex; align-items: stretch"
  >
    <div style="flex-grow: 1; color: white">
      <div
        (keyup.enter)="addTask(); $event.stopPropagation()"
        (keyup.meta.enter)="addToLearn(); $event.stopPropagation()"
        (keyup.alt.enter)="addToLearn(); $event.stopPropagation()"
        (keyup.control.enter)="addToLearn(); $event.stopPropagation()"
      >
        <app-search-or-add-text-editor
          [formControl1]="searchFormControl"
        ></app-search-or-add-text-editor>

        <ion-textarea
          *ngIf="showOldEditor"
          [autoGrow]="true"
          [(ngModel)]="search"
          (ngModelChange)="onChangeSearch($event)"
          placeholder="Search or add"
          [debounce]="50"
          inputmode="search"
        ></ion-textarea>
        <ion-button
          [hidden]="! hasSearchText()"
          (click)="clearInput()"
        ><ion-icon name="close-outline"></ion-icon></ion-button>
      </div>

      <!--
        https://medium.com/madewithply/ionic-4-long-press-gestures-96cf1e44098b
        https://forum.ionicframework.com/t/ionic-5-long-press-gesture-example/188746/2
        https://ionicframework.com/docs/utilities/gestures
      -->
      <app-selection-info
        [selection]="selection"
      ></app-selection-info>

      <ion-button
        (press)="addTask(true)"
        (click)="addTask()"
      ><ion-icon name="add-circle-outline"></ion-icon>&nbsp;TASK</ion-button>

      <ion-button
        (press)="addToLearn(true)"
        (click)="addToLearn()"
      ><ion-icon name="add-circle-outline"></ion-icon>&nbsp;LEARN</ion-button>

      <ion-button
        (click)="addToJournal()"
      ><ion-icon name="add-circle-outline"></ion-icon>&nbsp;JOURNAL</ion-button>

      <ion-icon
        style="align-self: stretch; padding: 10px"
        class="action-icon"
        name="filter"
        (click)="onClickListOptions($event)"
      ></ion-icon>

      <ion-text style="color: gray">
        <span *ngIf="filteredItem$s?.length !== item$s?.length">{{filteredItem$s?.length}} /</span>
        {{ item$s?.length }}
        <app-learn-stats></app-learn-stats>
      </ion-text>
    </div>
    <app-mic style="display: flex; align-items: stretch; padding-bottom: 8px;"></app-mic>

  </div>
</ion-header>

<ion-content
  (window:keyup.meta.enter)="addToLearn()"
>
<!--  <app-toggle option="listFilterItemNeedProcessing"-->
<!--  >Need Processing</app-toggle>-->


<!--  <ng-container *ngFor="let item of items; trackBy: trackByFn">-->
<!--    <app-actionable-item-->
<!--      [hidden]="! matchesSearch(item)"-->
<!--      [item]="item"-->
<!--    ></app-actionable-item>-->

<!--  </ng-container>-->
  <ng-container *ngIf="(! (authService.authUser$ | async)) else loggedIn">

    <div style="display: flex; flex-direction: row; align-items: center; margin: 10px">
      Please &nbsp;
      <ion-button (click)="authService.logInViaGoogle()">LOG IN</ion-button>

    </div>

  </ng-container>

  <ng-template #loggedIn>

    <p style="margin: 10px" *ngIf="! learnDoService.itemsLoaded">
      LOADING...
    </p>
    <p style="margin: 10px" *ngIf="learnDoService.itemsLoaded && ! this.filteredItem$s?.length">
      NOTHING FOUND
    </p>

    <ion-virtual-scroll
      [items]="filteredItem$s"
      [approxItemHeight]="31"
      [trackBy]="trackByFn"
    >
      <div *virtualItem="let currItem; let i = index">
        <app-actionable-item
          [index]="i"
          [item]="currItem"
          [selection]="selection"
        ></app-actionable-item>
        <!-- [hidden]="! matchesSearch(currItem)"-->
      </div>
    </ion-virtual-scroll>

    <!--
       ion-virtual-scroll BUGS:
       * items vertically on top of each other (wrong height, with item with audio)
       * not reacting to delete (when deleting item -> changing route) until scrolled
       * blinking when items array changed (check trackBy again)
       * almost-invisible (black) scrollbar
       * distracting broad light-colored scrollbar
    -->
  </ng-template>

</ion-content>
