<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/'"></ion-back-button>
    </ion-buttons>

    <!--    <ion-title style="display: flex; align-items: center">-->
<!--    <div style="display: grid; grid-gap: 5px; grid-template-columns: auto fit-content() auto auto ">-->
    <div class="toolbar">
<!--      <ion-button color="primary" routerLink="/" > < </ion-button>-->
      <span style="flex-grow: 1">Search or add</span>

      <app-quiz-button
      ></app-quiz-button>

      <odm-sync-status></odm-sync-status>
    </div>

  </ion-toolbar>

  <div
    style="display: flex; align-items: stretch"
  >
    <div style="flex-grow: 1; color: white">
      <div>
        <ion-textarea
          [autoGrow]="true"
          [(ngModel)]="search"
          (ngModelChange)="onChangeSearch($event)"
          placeholder="Search or add"
          [debounce]="50"
          inputmode="search"
          (keyup.enter)="addTask()"
          (keyup.meta.enter)="addToLearn()"
          (keyup.alt.enter)="addToLearn()"
          (keyup.control.enter)="addToLearn()"
        ></ion-textarea>
        <ion-button
          [hidden]="! hasSearchText()"
          (click)="clearInput()"
        ><ion-icon name="close-outline"></ion-icon></ion-button>
      </div>

      <ion-button
        [hidden]="! hasSearchText()"
        [disabled]="! hasSearchText()"
        (click)="addTask()"
      >ADD TASK</ion-button>

      <ion-button
        [hidden]="! hasSearchText()"
        [disabled]="! hasSearchText()"
        (click)="addToLearn()"
      >ADD TO LEARN</ion-button>
      <ion-text style="color: gray">
        <span *ngIf="filteredItems?.length !== items?.length">{{filteredItems?.length}} /</span>
        {{ items?.length }}
        <app-learn-stats></app-learn-stats>
      </ion-text>
    </div>
    <app-mic style="display: flex; align-items: stretch; padding-bottom: 8px;"></app-mic>

  </div>
</ion-header>

<ion-content
  (window:keyup.meta.enter)="addToLearn()"
>
<!--  <app-toggle option="listFilterItemNeedProcessing"-->
<!--  >Need Processing</app-toggle>-->

<!--  <ion-textarea-->
<!--    [(ngModel)]="search"-->
<!--    placeholder="Search or add"-->
<!--    debounce="100"-->
<!--    inputmode="search"-->
<!--    [rows]="2"-->
<!--    (keyup.enter)="add()"-->
<!--  ></ion-textarea>-->


<!--  coll.valueChanges() length: {{(coll.valueChanges() | async)?.length}}-->
<!--  <ion-item *ngFor="let item of (coll.valueChanges() | async)">-->

<!--  <ng-container *ngFor="let item of items; trackBy: trackByFn">-->
<!--    <app-actionable-item-->
<!--      [hidden]="! matchesSearch(item)"-->
<!--      [item]="item"-->
<!--    ></app-actionable-item>-->

<!--  </ng-container>-->

  <ion-virtual-scroll
      [items]="filteredItems"
      [approxItemHeight]="31"
      [trackBy]="trackByFn"
  >
    <div *virtualItem="let currItem">
      <app-actionable-item
        [item]="currItem"
      ></app-actionable-item>
      <!-- [hidden]="! matchesSearch(currItem)"-->
    </div>
  </ion-virtual-scroll>

  <!--
     ion-virtual-scroll BUGS:
     * items vertically on top of each other (wrong height, with item with audio)
     * not reacting to delete (when deleting item -> changing route) until scrolled
     * blinking when items array changed (check trackBy again)
     * almost-invisible (black) scrollbar
     * distracting broad light-colored scrollbar
  -->

</ion-content>
