<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-button color="primary" routerLink="/" >< </ion-button>
      Search or add
      <odm-sync-status></odm-sync-status>
    </ion-title>
    <ion-searchbar
      [(ngModel)]="search"
      placeholder="Search or add"
      debounce="100"
      inputmode="search"
      (keyup.enter)="addTask()"
      (keyup.meta.enter)="addToLearn()"
      (keyup.alt.enter)="addToLearn()"
      (keyup.control.enter)="addToLearn()"
    ></ion-searchbar>
    <app-mic></app-mic>


    <ion-button
      (click)="addTask()"
      [disabled]="! search?.trim().length"
    >ADD TASK</ion-button>

    <ion-button
      (click)="addToLearn()"
      [disabled]="! search?.trim().length"
    >ADD TO LEARN</ion-button>

    Items: {{ items?.length }}
  </ion-toolbar>
</ion-header>

<ion-content
  (window:keyup.meta.enter)="addToLearn()"
>
<!--  <ion-textarea-->
<!--    [(ngModel)]="search"-->
<!--    placeholder="Search or add"-->
<!--    debounce="100"-->
<!--    inputmode="search"-->
<!--    [rows]="2"-->
<!--    (keyup.enter)="add()"-->
<!--  ></ion-textarea>-->


<!--  asfasf: {{(coll.valueChanges() | async)?.length}}-->
<!--  <ion-item *ngFor="let item of (coll.valueChanges() | async)">-->

  <ng-container *ngFor="let item of items">
    <app-actionable-item
      [hidden]="! (item.title || '').toLowerCase().includes((search||'').trim().toLowerCase())"
      [item]="item"
    ></app-actionable-item>

  </ng-container>

</ion-content>
