<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="fancy" style="margin: 20px; ">
    SLEEP !
  </div>

  <div class="fancy" style="margin: 20px; ">
    Regenerate. Heal. Have a good sleep routine.
    Consolidate memories.
    Get epiphanies.
  </div>

  <div>
    <p>Do not <span class="negative">destroy sleep schedule.</span></p>
    <p>Get sunlight and trips/biking</p>
    <p>Stay in touch with people during the day, including work.</p>
  </div>

  <!-- TODO: relaxing picture for sleep -->
  <!-- TODO: relaxing sound; -->

</ion-content>
