<ng-container
  *ngIf="! treeModel.isRootShown"
>
  <app-nested-tree-node
    *ngFor="let childNode of treeModel.navigation.visualRoot.children"
    [treeNode]="childNode"
    [treeHost]="treeHost"
  ></app-nested-tree-node>
</ng-container>

<ng-container *ngIf="treeModel.isRootShown">
  <app-nested-tree-node
    *ngFor="let treeNodeWrapperHack of wrapperHackArray"
    [treeNodeWrapperHack]="treeNodeWrapperHack"
    [treeHost]="treeHost"
  ></app-nested-tree-node>
</ng-container>

<!--<app-test-component-instance-changing-on-input-value-change-->
  <!--[treeNode]="treeModel.navigation.visualRoot"-->
<!--&gt;</app-test-component-instance-changing-on-input-value-change>-->
