<ion-header>
  <ion-toolbar>

    <ion-title>
      <!-- <ion-button (click)="window.history.back()"><</ion-button> -->
      <ion-button routerLink="/learn"><</ion-button>

      <odm-sync-status></odm-sync-status>
      <ion-button routerLink="/learn/quiz">QUIZ</ion-button>

      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ng-container
    *ngIf="viewSyncer.initialDataArrived else notLoaded"
  >
    <app-self-rating
      [item$]="item$"
    ></app-self-rating>

    <app-play-button
      [item]="val$ | async"
      [itemId]="item$.id"
    ></app-play-button>
    <ion-button (click)="askDelete()">DELETE</ion-button>

    <div
      style="margin-left: 4px"
      *ngFor="let side of sidesDefsArray"
    >
      <ion-header><ion-text color="secondary"><h5>{{side.id}}:</h5></ion-text></ion-header>
      <ion-textarea
        autoGrow="true"
        rows="2"
        [formGroup]="formGroup"
        [formControl]="formControls[side.id]"
      >
        <!-- [placeholder]="side.id" -->
      </ion-textarea>
    </div>
  </ng-container>
  <ng-template #notLoaded>
    Loading...
  </ng-template>

</ion-content>
