<ion-header>
  <ion-toolbar>

    <ion-title>
<!--      <ion-button (click)="window.history.back()"><</ion-button>-->
      <ion-button routerLink="/learn"><</ion-button>
<!--      {{(item?.locallyVisibleChanges$ | async)?.title}}</ion-title>-->
<!--      {{((doc.valueChanges() | async)?.title) || "test"}}-->
      {{title}}
<!--      {{(doc.get() | async)?.title || "test"}}-->
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-button (click)="askDelete()">DELETE</ion-button>

  <div
    *ngFor="let side of sidesDefsArray"
  >
    <ion-textarea
      [placeholder]="side.id"
      [value]="getField((item$.locallyVisibleChanges$ | async), side.id) + 'xyz'">
    </ion-textarea>
  </div>

</ion-content>
