<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/learn'"></ion-back-button>
    </ion-buttons>

    <ion-title>
      <div style="display: inline-flex; align-items: center; width: 100%">
        <!-- <ion-button (click)="window.history.back()"><</ion-button> -->
<!--        <ion-button routerLink="/learn"><&lt;!&ndash; TODO: create component back-icon &ndash;&gt;</ion-button>-->

        <div style="flex-grow: 1; display: flex; align-items: center">
<!--          &nbsp; CARD DETAILS-->
        </div>

        <app-time-passing
          style="font-size: 80%; margin-right: 3px"
          [isCountDown]="false"
        ></app-time-passing>

        <app-process-button
        ></app-process-button>

        <app-quiz-button
        ></app-quiz-button>

        {{title}}

        <odm-sync-status></odm-sync-status>

      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-learn-item-details-hints
  ></app-learn-item-details-hints>

  <ng-container
    *ngIf="(item$.locallyVisibleChanges$ | async) else notLoaded"
  >

<!--    <div>-->
<!--      <ion-label>IMPORTANCE&lt;!&ndash;note: not priority; could also be called "impact" &ndash;&gt;</ion-label>-->
<!--      <app-self-rating></app-self-rating>-->
<!--    </div>-->

<!--    <div>-->
<!--      <ion-label>FUN&lt;!&ndash;note: not priority; could also be called "impact" &ndash;&gt;</ion-label>-->
<!--      <app-self-rating></app-self-rating>-->
<!--    </div>-->

    <app-importance-edit
      [item$]="item$"
    ></app-importance-edit>


    <app-self-rating
      [item$]="item$"
    ></app-self-rating>

<!--    <ion-item>-->
<!--      <ion-label>Type</ion-label>-->
<!--      <ion-select [multiple]="true" cancelText="Nah" okText="Okay!">-->
<!--        <ion-select-option value="task">Task</ion-select-option>-->
<!--        <ion-select-option value="learn">Learn</ion-select-option>-->
<!--      </ion-select>-->
<!--    </ion-item>-->

    <app-play-button
      [item]="val$ | async"
      [itemId]="item$.id"
    ></app-play-button>

    <ion-button (click)="askDelete()">DELETE</ion-button>

    <app-item-side-editor
      *ngFor="let side of sidesDefsArray"
      [item$]="item$"
      [side]="side"
    ></app-item-side-editor>

  </ng-container>

  <ng-template #notLoaded>
    Loading...
  </ng-template>

</ion-content>
