<p>Congratulations!</p>
<!-- https://freefrontend.com/css-text-animations/

https://codepen.io/mtsgeneroso/pen/mdJRpxX

https://www.youtube.com/watch?v=m1ZKHPbnyjo

https://www.freepik.com/free-vector/brain-character_800241.htm#page=1&query=brain&position=4
https://www.freepik.com/free-vector/online-tutorials-concept_7915189.htm#page=1&query=learn&position=2
https://www.freepik.com/free-vector/modern-education-concept-with-flat-design_2916224.htm#page=1&query=learn&position=1

https://animista.net/play/basic/slide

cool font effects with nice presets:

https://html-css-js.com/css/generator/text-shadow/
https://html-css-js.com/css/generator/font/

https://stuffandnonsense.co.uk/blog/a-quick-shot-of-gradient-text-and-text-shadow

+ SVG

+ the thingy that generated SVG as if it were drawn gradually by hand (I sent it to Miguel Beckers 7Leguas)

But let's start with text + CSS, because it will be more flexible to add/change/randomly-choose the text and later i18n

-->

<p>You have finished quiz for now.</p>

(could show small chart here)

Next repetition:
