
$button-size: 38px;

.command-icon {
  width: $button-size;
  height: $button-size;
  border-radius: 19px;
  background: var(--primary);
  //opacity: 0.3;
  margin: 2px;
  cursor: pointer;
  user-select: none;
}
