<div style="color: orange; margin: 5px;"
     class="style1"
>
  <h2 style="text-transform: uppercase">Hints
    <span style="font-size: 70%">for making good cards</span>
  </h2>
  <ol class="step">
    <li>
      <b><!--hack--></b>Choose question & answer based on the context in which you will need the information
    </li>
    <li>
      <b><!--hack--></b>Don't give away the answer in the question
    </li>
    <li>
      <b><!--hack for align--></b>Find a <b>sweet spot</b> of complexity - not too complex, not too stripped down
    </li>
    <li>
      <b><!--hack for align--></b>Add <b>context</b> and <b>examples</b>
    </li>
    <li>
      <b>Highlight</b> most relevant parts / words
    </li>

  </ol>
</div>
