<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Life Overviews</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  TODO: GTD diagram: https://en.wikipedia.org/wiki/Getting_Things_Done#/media/File:GTDcanonical.png

  <app-ikigai-diagram
    style="width: 300px"
  ></app-ikigai-diagram>

  <app-radical-candor
    style="width: 600px"
  ></app-radical-candor>

  <br>
  <br>

  <app-energy
    style="margin-top: 30px"
  ></app-energy>

  <app-flow-state
  ></app-flow-state>

  <app-growth-diagram
  ></app-growth-diagram>

  <!-- ideas:
  - valley of death / despair
  - journey of a hero
  - hype cycle
  - emotions - mixing of basic emotions
-->


</ion-content>
