<label class="checkbox" >
  <input type="checkbox"
         [checked]="debugService.isDebug$ | async"
         (change)="treeHost.onDebugChange($event)">
  Debug
</label>

<br>

<label class="checkbox" >
  <input type="checkbox"
         [checked]="debugService.isDebug$ | async"
         (change)="configService.patchConfig({showMinMaxColumns: $event.target.checked})">
  Show Min/Max Cols
</label>

<br>

<label class="checkbox" >
  <input type="checkbox"
         [checked]="debugService.isDebug$ | async"
         (change)="configService.patchConfig({showMissingValuesCount: $event.target.checked})">
  Show Missing Values Count
</label>

<br>

<label class="checkbox" >
  <input type="checkbox"
         [checked]="debugService.isDebug$ | async"
         (change)="configService.patchConfig({showAggregateValues: $event.target.checked})">
  Show Aggregate Values
</label>

<br>

<label class="checkbox" >
  <input type="checkbox"
         [checked]="debugService.isDebug$ | async"
         (change)="configService.patchConfig({showTimeTrackedValue: $event.target.checked})">
  Show Time-tracked Values
</label>
