<div
  [formGroup]=formGroup
>

  <label class="checkbox" >
    <input type="checkbox"
           [checked]="debugService.isDebug$ | async"
           (change)="treeHost.onDebugChange($event)">
    Debug
  </label>

  <label class="checkbox" >
    <input type="checkbox"
           [formControl]="controls.showMinMaxColumns"
    >
    Min/Max Cols
  </label>

  <label class="checkbox" >
    <input type="checkbox"
           [formControl]="controls.showAggregateValues"
    >
    Aggregate Values

    <label class="checkbox" >
      <input type="checkbox"
             [formControl]="controls.showMissingValuesCount"
      >
      Missing Values Count
    </label>

  </label>

  <label class="checkbox" >
    <input type="checkbox"
           [formControl]="controls.showTimeTrackedValue"
    >
    Time-tracked Values
  </label>

  Items: {{treeHost.treeModel.mapItemIdToNode.keyCount}}

</div>
