<div style="display: flex; align-items: center; justify-content: space-between">
  <i style="font-size: 35px; padding: 0.5rem"
     (tap)="treeHost.navigateUp($event)"
     (window:keydown.meta.arrowup)="treeHost.navigateUp($event)"
     (press)="treeHost.navigateToRoot($event)"
     class="material-icons actionable"
  >arrow_upward</i>

  <!--Start:-->
  <!--End: {{treeModel.endTime()}}-->
  <button
    class="btn btn-primary"
    (click)='treeHost.expandAll()'>
    E
  </button>

  <button
    class="btn btn-primary"
    (click)='treeHost.collapseAll()'>
    C
    <!-- Idea: collapse all apart from currently focused node; for better focus; quick way to implement: just refocus/expand after collapsing -->
  </button>

  <i
     class="material-icons actionable"
     (click)='treeHost.newJournalEntry()'
  >create</i>

  <i
     class="material-icons actionable"
     (click)='treeHost.newNote()'
  >note</i>

  <i
    class="material-icons actionable"
    (click)='treeHost.goToMilestones()'
  >event_note</i>

  <i
    class="material-icons actionable"
    (click)='treeHost.planToday()'
  >today</i>

  <app-time-tracking-toolbar
    style="font-size: 13px"
  ></app-time-tracking-toolbar>

  <fa-icon [icon]="['fas', 'cog']" class="actionable" style="font-size: 24px"
           [ngbPopover]="popupContent"
           #popOver="ngbPopover"
           [autoClose]="'outside'"
           placement="bottom"
  ></fa-icon>

  <ng-template #popupContent>
    <!-- note: passing [nodeContentComponent]="this" might be an acceptable exception, since the popover really originates form the node-content component so it might depend on it for context -->
    <app-toolbar-popover
      [treeHost]="treeHost"
    ></app-toolbar-popover>
  </ng-template>


  <ng-container *ngIf="debugService.isDebug$ | async">
    Pending listeners: {{treeHost.pendingListeners}}
  </ng-container>

  <div style="width: 80px"><!-- empty to not conflict with round buttons--></div>
</div>
