<div style="display: flex; align-items: center; justify-content: space-between">
  <i style="font-size: 35px; padding: 0.5rem"
     (tap)="treeHost.navigateUp($event)"
     (window:keydown.meta.arrowup)="treeHost.navigateUp($event)"
     (press)="treeHost.navigateToRoot($event)"
     class="material-icons actionable"
  >arrow_upward</i>

  <!--Start:-->
  <!--End: {{treeModel.endTime()}}-->
  <button
    class="btn btn-primary"
    (click)='treeHost.expandAll()'>
    E
  </button>

  <button
    class="btn btn-primary"
    (click)='treeHost.collapseAll()'>
    C
    <!-- Idea: collapse all apart from currently focused node; for better focus; quick way to implement: just refocus/expand after collapsing -->
  </button>


  <i
     class="material-icons actionable"
     (click)='treeHost.planToday()'
  >today</i>

<!--  <button-->
<!--    class="btn btn-primary"-->
<!--    PT-->
<!--  </button>-->

  <app-time-tracking-toolbar></app-time-tracking-toolbar>

  <label class="checkbox-inline" style="user-select: none">
    <input type="checkbox" [checked]="debugService.isDebug$ | async" (change)="treeHost.onDebugChange($event)">
    D
  </label>

  <ng-container *ngIf="debugService.isDebug$ | async">
    Pending listeners: {{treeHost.pendingListeners}}
  </ng-container>
  {{treeHost.treeModel.mapItemIdToNode.keyCount}}
</div>
