<p-tree
  [value]="dragDropTreeOne"
  draggableNodes="true"
  droppableNodes="true"
>
  <ng-template
    let-node
    pTemplate="default"
  >
    <!-- https://www.primefaces.org/primeng/#/tree : Templating -->
    <!--<input [(ngModel)]="node.label" type="text" style="width:100%">-->
    <input
      (keydown.enter)="keyDownEnter()"
      (keydown.arrowdown)="keyDownArrow()"
      (keydown.arrowup)="keyUpArrow()"
      id="node{{node.id}}"
    >
    id="{{node.id}}"
    {{node.label}}
    <button>test</button>
  </ng-template>
</p-tree>

<app-test-firestore>

</app-test-firestore>

