<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" [defaultHref]="'/'"></ion-back-button>
    </ion-buttons>
    <ion-title>Tutorial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p>It consists of the following inter-related modules:</p>
  <ol>
    <li>What-next recommender</li>
    <li>Journal</li>
    <li>Learning + Affirmations + Quiz</li>
    <li>Mindfulness</li>
    <li>Tasks</li>
    <li>Time planning</li>
  </ol>

  <p>The app tries to be as intuitive as possible.</p>

  <p>If You need more information, please press the help icon on given page or dialog.</p>

  <p>There You also find a button for quick targeted feedback.
    Where it's enough to write for example something really short like "make the buttons here bigger" and we will know to which page or dialog it refers.
  </p>

  <p>It is optional (but recommended, as we might also provide hints or ask clarifying questions) to give contact information for us to be able to reply to You.</p>

  <p>Your feedback helps us a lot - thank You. And we try to apply it as much as possible.</p>

  <p>Certain User Interface items can be long-pressed for an alternative action.</p>

</ion-content>
