
<button
  class="btn btn-primary"
  (click)="openDeleteConfirmationDialog()">
  Delete
</button>

<button
  class="btn btn-primary"
  (click)='treeNode.navigateInto()'>
  Navigate Into (long-press menu icon)
</button>

<button
  class="btn btn-primary"
  (click)='nodeContentComponent.addChild()'>
  Add Sub-task
</button>

Classes:

<p>
  Milestone
</p>

<p>
  <i style="cursor: pointer; user-select: none; color: #777"
     class="material-icons"
  >note</i>
  Note
</p>


<p>
  <fa-icon [icon]="['fas', 'pen-nib']" [mask]="['fas', 'circle']"></fa-icon>
  Journal Entry (same as a loose note? -- Journal entry is more like self-introspection can have more info like mood, geolocation)
</p>


<p>
  <fa-icon icon="project-diagram"></fa-icon>
  Project
</p>

<p>
  <i style="cursor: pointer; user-select: none; color: #777"
     class="material-icons"
  >settings_applications</i>
  Task
</p>

<p>
  <i style="cursor: pointer; user-select: none; color: #777"
     class="material-icons"
  >calendar_today</i>
  Day-Plan
</p>




