<div
  style="display: flex; order: 1; align-items: stretch /* stretch *//*; height: 4.5rem;*/"
>
  <ion-button
    class="stretch-btn"
    (click)="showHint()"
  >HINT</ion-button>

  <ion-button
    class="stretch-btn"
    (click)="showAnswer()"
  >Show answer</ion-button>

  <ion-button
    class="stretch-btn"
    [routerLink]="'/learn/item/' + item$ ?. id"
  >
    <ion-icon name="create-outline"></ion-icon>
  </ion-button>

  <app-time-passing
    style="font-size: 95%; color: white; margin-left: 3px; align-self: center"
    [isCountDown]="false"
  ></app-time-passing>
</div>


<div
  *ngIf="(showAnswer$ | async) || (showHint$ | async)"
  style="display: block; order: 0"
>
  <ng-container
    *ngIf="(showAnswer$ | async)"
  >
    <app-self-rating
      [autoSave]="false"
      [item$]="(quizStatus$ | async) ?. nextItem$ !"
      (numericValue)="selfRating = $event; quizAnswersService.onSelfRate()"
    ></app-self-rating>

    <ion-button
      (click)="applyAndNext()"
      style="width: 100%; height: 3rem"
    >
      APPLY & NEXT
    </ion-button>

  </ng-container>

</div>
