<ion-list>
  <ng-container *ngFor="let item of this.safeItems().slice(0, this.currentlyDisplayedElements); index as index; trackBy: trackByFn">
    <app-actionable-item [item]="item"
                         [index]="index"
                         [selection]="selectionManager">
    </app-actionable-item>
  </ng-container>

  <ion-button (click)="loadMore()" *ngIf="this.currentlyDisplayedElements < this.safeItems().length">Load more</ion-button>
  <ion-button (click)="loadAll()" *ngIf="this.currentlyDisplayedElements < this.safeItems().length">Load all</ion-button>

</ion-list>
