<!--<p>-->
<!--  rating-cell-->
<!--</p>-->
<ion-select>
  <ion-select-option>0 - none</ion-select-option>
  <ion-select-option>1 - x.low</ion-select-option>
  <ion-select-option>2 - v.low</ion-select-option>
  <ion-select-option>3 - low</ion-select-option>
  <ion-select-option>4 - s.low</ion-select-option>
  <ion-select-option>5 - medium</ion-select-option>
  <ion-select-option>6 - s.hi</ion-select-option>
  <ion-select-option>7 - high</ion-select-option>
  <ion-select-option>8 - v.hi</ion-select-option>
  <ion-select-option>9 - x.hi</ion-select-option>
  <ion-select-option>10 - perfect</ion-select-option>
</ion-select>
