<table
>
  <tr>
    <td></td>
    <td></td>
    <ng-container
      *ngFor="let rating of ratings"
    >
      <td class="ratingLabel">
        {{ rating }}
      </td>
    </ng-container>
  </tr>

  <ng-container
    *ngFor="let importance of importances"
  ><tr>
    <td class="ion-color-primary" style="color: var(--primary)">
      {{importance.abbrev}}
    </td>
    <td class="ion-color-primary" style="color: var(--secondary)">
      {{importance.numeric}}x
    </td>
    <ng-container
      *ngFor="let rating of ratings"
    >
      <td
        *ngIf="getIntervalDays(rating, importance) <= 5 * 365"
      >
        <!--<strong>{{rating}}:</strong>-->
        <app-duration [intervalDays]="getIntervalDays(rating, importance)"
        ></app-duration>
      </td>

    </ng-container>

  </tr></ng-container>

  <tr>
    <td></td>
    <td></td>
    <ng-container
      *ngFor="let rating of ratings"
    >
      <td class="ratingLabel">
        {{ rating }}
      </td>
    </ng-container>
  </tr>


</table>
