<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" [defaultHref]="'/'"></ion-back-button>
      <app-app-logo></app-app-logo>
    </ion-buttons>

    <ion-title>Lifedvisor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p style="margin: 1em">Describe your problem or wish or doubt, or something you want to improve:</p>

  <ion-input type="solid"></ion-input>


  Another approach: rate yourself to see where you are in life and what to improve. (relationships, money, etc)

</ion-content>
