<ion-content>
  <ion-button
    [disabled]="itemsService.loadingAllItemsFromServerInitiated"
    (press)="loadAll(true)"
    (click)="loadAll(false)"
  ><ion-icon slot=start name="download-outline" />Load all</ion-button>


  <!-- General filtering:

  - all should have a checkbox to enable/disable and invert

   - by class(es)
   - categories, sub-categories
   - by parents
   - context (e.g. at the computer, at treadmill, hands-free, etc.)
   - ranges on things like (with checkbox to enable / disable)
    - % done
    - mental effort, fun,
    - full-text search (later Algolia)

    General:
    - small components
    - filtering data model separate from UI; prolly $P (patchable observable based)

  -->

  <ng-container *ngIf="g.feat.mockups">
    <ion-checkbox>Filter</ion-checkbox>Filter
  </ng-container>

<div *ngIf="g.feat.mockups">
  <ion-checkbox [formControl]="formControls.rangeEnabled"></ion-checkbox> <!-- Will gray-out the range -->
  % DONE
  <ion-range
    [disabled]="! formControls.rangeEnabled.value"
    [formControl]="formControls.range"
    dualKnobs="true" min="-10" max="110" step="2.5" snaps="true"
    pin="true"
  ></ion-range> <!-- -1 for undefined; 110 is for tasks which were overdone -->

</div>

<ion-button (click)="setPreset('lastModified')">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-numeric-up-alt" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M4 14a.5.5 0 0 0 .5-.5v-11a.5.5 0 0 0-1 0v11a.5.5 0 0 0 .5.5z"/>
    <path fill-rule="evenodd" d="M6.354 4.854a.5.5 0 0 0 0-.708l-2-2a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L4 3.207l1.646 1.647a.5.5 0 0 0 .708 0z"/>
    <path d="M9.598 5.82c.054.621.625 1.278 1.761 1.278 1.422 0 2.145-.98 2.145-2.848 0-2.05-.973-2.688-2.063-2.688-1.125 0-1.972.688-1.972 1.836 0 1.145.808 1.758 1.719 1.758.69 0 1.113-.351 1.261-.742h.059c.031 1.027-.309 1.856-1.133 1.856-.43 0-.715-.227-.773-.45H9.598zm2.757-2.43c0 .637-.43.973-.933.973-.516 0-.934-.34-.934-.98 0-.625.407-1 .926-1 .543 0 .941.375.941 1.008zM12.438 14V8.668H11.39l-1.262.906v.969l1.21-.86h.052V14h1.046z"/>
  </svg>
  &nbsp;
  <span *ngIf="g.feat.showTodosNotes">TODO: second click to sort ascending / descending</span>
  <span *ngIf="g.feat.showUgly">last added / modified / touched / viewed / associated</span>
  <span *ngIf="! g.feat.showUgly">Last touched <!-- TODO maybe note --></span>

  <!-- TODO: OPENED (details page) / viewed -->
</ion-button>

<ion-button (click)="setPreset('whenCreated')">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-numeric-down" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M4 2a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-1 0v-11A.5.5 0 0 1 4 2z"/>
    <path fill-rule="evenodd" d="M6.354 11.146a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L4 12.793l1.646-1.647a.5.5 0 0 1 .708 0z"/>
    <path d="M12.438 7V1.668H11.39l-1.262.906v.969l1.21-.86h.052V7h1.046zm-2.84 5.82c.054.621.625 1.278 1.761 1.278 1.422 0 2.145-.98 2.145-2.848 0-2.05-.973-2.688-2.063-2.688-1.125 0-1.972.688-1.972 1.836 0 1.145.808 1.758 1.719 1.758.69 0 1.113-.351 1.261-.742h.059c.031 1.027-.309 1.856-1.133 1.856-.43 0-.715-.227-.773-.45H9.598zm2.757-2.43c0 .637-.43.973-.933.973-.516 0-.934-.34-.934-.98 0-.625.407-1 .926-1 .543 0 .941.375.941 1.008z"/>
  </svg>
  &nbsp;
  when created
</ion-button>


<ion-button *ngIf="feat.mockups" [disabled]="true">
  manual order for execution/priority
</ion-button>


<ion-button *ngIf="feat.mockups" [disabled]="true">
  for processing
</ion-button>

<ion-button *ngIf="feat.mockups" [disabled]="true">
  categories
</ion-button>

<span *ngIf="g.feat.showUgly" >
TASKS:

  ==== Executing (vs processing) :
</span>

<ion-button (click)="setPreset('allTasks')">
  ALL TASKS
</ion-button>

<ion-button (click)="setPreset('tasks_by_importance_roi')">
  ❗Importance, 📈ROI
  <!-- TODO: the emoji+field should be a component (~FieldLabelComponent) with icon; ROI should be a (calculated) field too
    actually this should all be more automated -- preset label generated from preset description sort orders
   -->
</ion-button>

<ion-button (click)="setPreset('nearest_deadlines')">
  nearest deadlines
</ion-button>

<ion-button (click)="setPreset('importance_roi')">
  <div style="flex-flow: column">
    <div>
      urgent, ❗importance, 📈roi
    </div>
    <ion-note *ngIf="g.feat.showUgly" class="preset-note">
      -mental, fun; default
    </ion-note>
  </div>
</ion-button>

<ion-button (click)="setPreset('roi')">
  <!-- TODO: think of long-term ROI and short-term ROI
    which could at the beginning be life-wide importance vs current focus importance
  -->
  <div style="flex-flow: column">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M3 2a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-1 0v-10A.5.5 0 0 1 3 2z"/>
        <path fill-rule="evenodd" d="M5.354 10.146a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L3 11.793l1.646-1.647a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 9a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z"/>
      </svg> <!-- https://icons.getbootstrap.com/icons/sort-down/ -->
      &nbsp;
      urgent, 📈ROI
    </div>
    <ion-note *ngIf="g.feat.showUgly" class="preset-note">
      can skip importance levels; closest to be done;
      <span *ngIf="g.feat.showTodosNotes">TODO: META/MANTRA first</span>
    </ion-note>
  </div>

</ion-button>

<ion-button (click)="setPreset('healthFunQuickEasy')">
  🤸🧠health, 😊fun, 🕒quick & 🤪easy
</ion-button>

<ion-button (click)="setPreset('funQuickEasy')">
  😊fun, 🕒quick & 🤪easy
</ion-button>

<ion-button (click)="setPreset('funRoi')">
  😊fun, 📈ROI
</ion-button>

<ion-button (click)="setPreset('funImportant')">
  😊fun, ❗importance
</ion-button>

<ion-button *ngIf="feat.mockups" [disabled]="true">
  😊fun & 🤔challenging (bad roi / prio?)
</ion-button>

<ion-button (click)="setPreset('quickest')">
  shortest
</ion-button>

<span *ngIf="feat.showUgly">
  ==== Processing
</span>
<span *ngIf="feat.showTodosNotes">
  (todo move up before executing?) :
  Separate tab / tree-branch ?</span>
<ion-button (click)="setPreset('notEstimated')">
  not estimated
</ion-button>

<ion-button *ngIf="feat.mockups" [disabled]="true">
  missing metadata <!-- should probably be tree with sub-items; like fun, mental, etc. -->
</ion-button>

<ion-button (click)="setPreset('estimated')">
  estimated
</ion-button>


<ion-button *ngIf="feat.mockups" [disabled]="true">
  <div style="flex-flow: column">
    <div>needs doing</div>
    <ion-note class="preset-note">
      not done nor cancelled
    </ion-note>
  </div>
</ion-button>

<ion-button *ngIf="feat.mockups" [disabled]="true">
  <div style="flex-flow: column">
    <div>can do</div>
    <ion-note class="preset-note">
      deps satisfied & not blocked
    </ion-note>
  </div>
</ion-button>

<ion-button *ngIf="feat.mockups" [disabled]="true">
  next milestones
</ion-button>

<ion-button *ngIf="feat.mockups" [disabled]="true">
  started
</ion-button>

<ion-button *ngIf="feat.mockups" [disabled]="true">
  started thinking
</ion-button>

<ion-button *ngIf="feat.mockups" [disabled]="true">
  started executing
</ion-button>


<ion-button *ngIf="feat.mockups" [disabled]="true">
  blocked
</ion-button>

  <section>
    <h2>LEARN ITEMS</h2>
    <ion-button (click)="setPreset('learn_items_by_importance')">
      <div style="flex-flow: column">
        <div>
          Learn items by ❗importance
        </div>
      </div>
    </ion-button>

  </section>

<!-- Groups of use cases:
 - do something fun
   - quick
   - challenging
 - clear your head
 - see trophy pile
-->
</ion-content>
