<ion-checkbox>Filter</ion-checkbox>

<ion-button (click)="setPreset('lastModified')">
  last added / modified
</ion-button>


<ion-button [disabled]="true">
  for processing
</ion-button>

<ion-button [disabled]="true">
  categories
</ion-button>


TASKS:

<ion-button (click)="setPreset('allTasks')">
  ALL TASKS
</ion-button>

<ion-button [disabled]="true">
  nearest deadlines
</ion-button>

<ion-button (click)="setPreset('importance_roi')">
  <div style="flex-flow: column">
    <div>
      importance, roi
    </div>
    <ion-note class="preset-note">
      -mental, fun; default
    </ion-note>
  </div>
</ion-button>

<ion-button (click)="setPreset('roi')">
  <div style="flex-flow: column">
    <div>  best ROI</div>
    <ion-note class="preset-note">
      can skip importance levels; closest to be done
    </ion-note>
  </div>

</ion-button>

<ion-button (click)="setPreset('funQuickEasy')">
  fun, quick & easy
</ion-button>

<ion-button [disabled]="true">
  fun & challenging
</ion-button>

<ion-button (click)="setPreset('quickest')">
  shortest
</ion-button>

<ion-button (click)="setPreset('notEstimated')">
  not estimated
</ion-button>

<ion-button (click)="setPreset('estimated')">
  estimated
</ion-button>


<ion-button [disabled]="true">
  <div style="flex-flow: column">
    <div>needs doing</div>
    <ion-note class="preset-note">
      not done nor cancelled
    </ion-note>
  </div>
</ion-button>

<ion-button [disabled]="true">
  <div style="flex-flow: column">
    <div>can do</div>
    <ion-note class="preset-note">
      deps satisfied & not blocked
    </ion-note>
  </div>
</ion-button>

<ion-button [disabled]="true">
  next milestones
</ion-button>

<ion-button [disabled]="true">
  started
</ion-button>

<ion-button [disabled]="true">
  started thinking
</ion-button>

<ion-button [disabled]="true">
  started executing
</ion-button>


<ion-button [disabled]="true">
  blocked
</ion-button>

<!-- Groups of use cases:
 - do something fun
   - quick
   - challenging
 - clear your head
 - see trophy pile
-->
