<ion-button (click)="setPreset('lastModified')">
  last added / modified
</ion-button>


<ion-button [disabled]="true">
  for processing
</ion-button>


TASKS:

<ion-button (click)="setPreset('allTasks')">
  ALL TASKS
</ion-button>

<ion-button (click)="setPreset('roi')">
  <div style="flex-flow: column">
    <div>  best ROI</div>
    <ion-note style="font-size: 66%; color: #cacaca">
      can skip importance levels
    </ion-note>
  </div>

</ion-button>

<ion-button (click)="setPreset('funQuickEasy')">
  fun, quick & easy
</ion-button>

<ion-button [disabled]="true">
  fun & challenging
</ion-button>

<ion-button (click)="setPreset('quickest')">
  shortest
</ion-button>

<ion-button (click)="setPreset('notEstimated')">
  not estimated
</ion-button>

<ion-button (click)="setPreset('estimated')">
  estimated
</ion-button>


<ion-button [disabled]="true">
  <div style="flex-flow: column">
    <div>needs doing</div>
    <ion-note style="font-size: 66%; color: #cacaca">
      not done nor cancelled
    </ion-note>
  </div>
</ion-button>

<ion-button [disabled]="true">
  <div style="flex-flow: column">
    <div>can do</div>
    <ion-note style="font-size: 66%; color: #cacaca">
      deps satisfied & not blocked
    </ion-note>
  </div>
</ion-button>

<ion-button [disabled]="true">
  started
</ion-button>

<ion-button [disabled]="true">
  blocked
</ion-button>


