<div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete?</h4>
      </div>

      <div class="modal-body">
        <div class="form-group">
        </div>
      </div>

      <div class="modal-footer">
        <button data-dismiss="modal" #dismiss type="button" class="btn btn-default btn-sm">Cancel</button>
        <button data-dismiss="modal" id='confirmDeleteButton' type="submit" class="btn btn-danger btn-sm">Delete</button>
      </div>

  </div>
</div>
