
<ion-button
  *ngIf="side && isVisible(item$.val$ | async) && (! formControl.value) && ! editorOpened && isDependencySatisfied()"
  (click)="editorOpened = true; focusEditor()"
  color="gray"
  [ngClass]="{ answerBorder: side.id === answerDescr.id }"
>
  <app-side-icon
    [side]="side"
  ></app-side-icon>
  &nbsp;

  <!-- TODO: focus editor -->
  <ion-note>{{side.title}}</ion-note>
</ion-button>

<div
  style="margin: 3px"
  *ngIf="side && isVisible(item$.val$ | async) && (editorOpened || formControl.value)"
  (click)="focusEditor()"
> <!-- https://github.com/tinymce/tinymce-angular/issues/130 -->

  <div
    style="
      padding: 0.5rem;
      border-radius: 6px 6px 0px 0px;
      margin-bottom: 3px;
      background-color: var(--apf-item-header-background)
    "
  >
    <app-side-label
      [side]="side"
    ></app-side-label>
    <!--    <ion-button size="small">Reveal</ion-button>-->
  </div>

<!--
  // TODO on text editors - tangible area background:
  // &#45;&#45;background: var(&#45;&#45;ion-item-background, var(&#45;&#45;ion-background-color, #fff));
-->

  <app-rich-text-edit
    *ngIf="! showRevealButton"
    [viewSyncer]="viewSyncer"
    [formControl1]="formControl"
  ></app-rich-text-edit>

  <app-quiz-answer-revealer
    *ngIf="showRevealButton"
    [formControl1]="formControl"
  ></app-quiz-answer-revealer>

</div>

