
<ion-button
  *ngIf="side && (! formControl.value) && ! editorOpened && isDependencySatisfied()"
  (click)="editorOpened = true; focusEditor()"
  color="gray"
  [ngClass]="{ answerBorder: side.id === answerDescr.id }"
>
  <app-side-icon
    [side]="side"
  ></app-side-icon>
  &nbsp;

  <!-- TODO: focus editor -->
  <ion-note>{{side?.title}}</ion-note>
</ion-button>

<div
  style="margin-left: 4px"
  *ngIf="side && (editorOpened || formControl.value)"
  (click)="focusEditor()"
> <!-- https://github.com/tinymce/tinymce-angular/issues/130 -->

  <app-side-label
    [side]="side"
  ></app-side-label>

  <app-rich-text-edit
    [viewSyncer]="viewSyncer"
    [formControl1]="formControl"
  ></app-rich-text-edit>

</div>

