
<ion-button
  *ngIf="side && (! formControl.value) && ! editorOpened && isDependencySatisfied()"
  (click)="editorOpened = true; focusEditor()"
  color="gray"
>
  <app-side-icon
    [side]="side"
  ></app-side-icon>
  &nbsp;

  <!-- TODO: focus editor -->
  <ion-note>{{side?.title}}</ion-note>
</ion-button>

<div
  style="margin-left: 4px"
  *ngIf="side && (editorOpened || formControl.value)"
  (click)="focusEditor()"
> <!-- https://github.com/tinymce/tinymce-angular/issues/130 -->

  <app-side-label
    [side]="side"
  ></app-side-label>

  <editor
    #editor
    [init]="tinyMceInit"
    [inline]="true"
    [formControl]="formControl"
    (ngModelChange)="onChangeEditor($event)"
    (onInit)="logEditor('tinyMce <editor (onInit)...'); viewSyncer.onInitialDataWasSet()"
  >
    <!-- FIXME:     modelEvents="change input undo redo nodechange" causes patching when opening details page -->
    <!--     (onSetContent)="logEditor('onSetContent')"
    (onPostRender)="logEditor('onPostRender')"
    -->
    <!-- events: https://www.tiny.cloud/docs/advanced/events/#init
      * Init -- actually called last?
      * SetContent
    -->

  </editor>

</div>

