
<ion-item>
  <ion-checkbox [formControl]="controls.dePrioritizeNewMaterial">
  </ion-checkbox>
  <ion-label>
    &nbsp; DE-PRIORITIZE NEW MATERIAL <!--{{dePrioritizeNewMaterial | json}}-->
  </ion-label>
</ion-item>

<ion-item>
  <ion-checkbox [formControl]="controls.onlyWithQA">
  </ion-checkbox>
  <ion-label>
    &nbsp; SKIP TASKS
  </ion-label>
</ion-item>

<ion-item>
  <ion-checkbox [formControl]="controls.onlyWithQA">
  </ion-checkbox>
  <ion-label>
    &nbsp; ONLY WITH Q&A
  </ion-label>
</ion-item>

<app-quiz-intervals
></app-quiz-intervals>

<app-quiz-diligence-level
  [control]="controls.powBaseX100"
></app-quiz-diligence-level>

<app-quiz-interval-importance-scaling
  [control]="controls.scaleIntervalsByImportance"
></app-quiz-interval-importance-scaling>

