
<ion-item>
  <ion-checkbox [formControl]="controls.dePrioritizeNewMaterial">
  </ion-checkbox>
  <ion-label>
    &nbsp; DE-PRIORITIZE NEW MATERIAL <!--{{dePrioritizeNewMaterial | json}}-->
  </ion-label>
</ion-item>

<ion-item>
  <ion-checkbox [formControl]="controls.onlyWithQA">
  </ion-checkbox>
  <ion-label>
    &nbsp; ONLY WITH Q&A
  </ion-label>
</ion-item>

<div style="display: flex; flex-direction: row; align-items: center">
  <ion-range
    [min]="110"
    [max]="600"
    [pin]="true"
    [step]="1"
    [formControl]="controls.powBaseX100"
  >
    <ion-note slot="start">{{formGroup.value['powBaseX100']}}</ion-note>
    <ion-label slot="start">more<br>diligent</ion-label>
    <ion-label slot="end">quicker</ion-label>
  </ion-range>
</div>
<!--QUICKER <-> MORE DILIGENT-->

<span
  *ngFor="let rating of [0, 0.5, 1, 1.5, 2, 2.5, 3, 4, 5, 6, 7, 8, 9, 10]"
>
  <strong>{{rating}}:</strong> {{ ( quizService.calculateIntervalHours2(rating) / 24 ).toFixed(1) }} <span style='color: gray'>d </span>
  <span> </span>
</span>

