
<ion-item>
  <ion-checkbox [formControl]="controls.dePrioritizeNewMaterial">
  </ion-checkbox>
  <ion-label>
    &nbsp; DE-PRIORITIZE NEW MATERIAL <!--{{dePrioritizeNewMaterial | json}}-->
  </ion-label>
</ion-item>

<ion-item>
  <ion-checkbox [formControl]="controls.onlyWithQA">
  </ion-checkbox>
  <ion-label>
    &nbsp; SKIP TASKS
  </ion-label>
</ion-item>

<ion-item>
  <ion-checkbox [formControl]="controls.onlyWithQA">
  </ion-checkbox>
  <ion-label>
    &nbsp; ONLY WITH Q&A
  </ion-label>
</ion-item>



<div style="display: flex; flex-direction: row; align-items: center">
  <ion-range
    [min]="110"
    [max]="6000"
    [pin]="true"
    [step]="1"
    [formControl]="controls.powBaseX100"
  >
    <ion-note slot="start">{{formGroup.value['powBaseX100']}}</ion-note>
    <ion-label slot="start">more<br>diligent</ion-label>
    <ion-label slot="end">quicker</ion-label>
  </ion-range>
</div>

<app-quiz-intervals
></app-quiz-intervals>
