<form #f="ngForm">
  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input type="email" ngModel name="email" required email>
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" ngModel name="password" minlength="8" required password></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Repeat Password</ion-label>
    <ion-input type="password" ngModel name="password2" minlength="8" required password></ion-input>
  </ion-item>
    <ion-label style="color: red; margin-left: 16px;" *ngIf="this.AuthService.errorMessage">{{this.AuthService.errorMessage}}</ion-label>

  <ion-button (click)="signupEmailAndPassword(f)" type="submit" color="primary" expand="block" [disabled]="!f.valid">
    Sign Up</ion-button>
</form>
