<ion-searchbar
  [(ngModel)]="search"
  placeholder="Search fields"
  autofocus="autofocus"
  [debounce]="200"
  inputmode="search"
></ion-searchbar>

<ng-container
  *ngFor="let descriptor of numDescriptors"
>
  <apf-numeric-picker
    *ngIf="descriptor?.isShortListed || showAll || (search?.length > 2)"
    [hidden]="! descriptor.id !. toLowerCase().includes(search.toLowerCase())"
    (numericValue)="onChangeNumericValue($event, descriptor)"
    [numFieldDef]="descriptor"
  ></apf-numeric-picker>

</ng-container>
