<h5>TIPS for quiz/reviewing</h5>

<ol>
  <li>
    Read out loud or in your head, to let it sink better
  </li>
  <li>
    Mark any part that is particularly important or difficult to remember
  </li>
  <li>
    Spend some time on each item, to reflect and let it sink in; but avoid getting stuck for too long (You will come back to it anyway!)
  </li>
  <li>
    Self-rate relative to required level of how precisely you want to learn it (Pareto principle)
  </li>
  <li>
    Remember that there are limits to what you can achieve with just memorizing, so make sure to spend time using the knowledge in practice.
  </li>
</ol>
