<ion-header>
  <ion-toolbar>

    <ion-title>
      <!--      <ion-button (click)="window.history.back()"><</ion-button>-->
      <ion-button routerLink="/learn"><</ion-button>

      <odm-sync-status></odm-sync-status>
      <!--      {{(item?.locallyVisibleChanges$ | async)?.title}}</ion-title>-->
      <!--      {{((doc.valueChanges() | async)?.title) || "test"}}-->
      QUIZ
      <!--      {{(doc.get() | async)?.title || "test"}}-->
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  {{ (item$ | async)?.id }}

  {{ getSideValForQuiz$() | async }}

<!--  <ng-container>(ahead of time by X hours)</ng-container>-->
<!--  <ng-container>(overdue X hours)</ng-container>-->

<!--  hoursDiff = {{ (quizService.calculateWhenNextRepetitionMsEpoch(item$.currentVal) - nowMs()) * 1000 * 3600 }}-->

<!--  <ion-button (click)="nextItem()">-->
<!--    NEXT-->
<!--  </ion-button>-->

  <app-self-rating
    [item$]="item$ | async"
  ></app-self-rating>

</ion-content>
