<ion-header>
  <ion-toolbar>

    <ion-title>
      <div style="display: flex; align-items: center">
        <!--      <ion-button (click)="window.history.back()"><</ion-button>-->
        <ion-button routerLink="/learn"><</ion-button>

        <odm-sync-status></odm-sync-status>
        QUIZ
        <ion-icon class="action-icon" color="secondary"
                  (click)="onClickTimer($event)"
                  name="timer-outline"
        ></ion-icon>
      </div>
      <!--      <ion-button (click)="window.history.back()"><</ion-button>-->
      <ion-button routerLink="/learn"><</ion-button>

      <odm-sync-status></odm-sync-status>
      <!--      {{(item?.locallyVisibleChanges$ | async)?.title}}</ion-title>-->
      <!--      {{((doc.valueChanges() | async)?.title) || "test"}}-->
      QUIZ
      <!--      {{(doc.get() | async)?.title || "test"}}-->
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div
    style="margin: 6px"
  >
  <ion-item>
    <ion-checkbox [(ngModel)]="dePrioritizeNewMaterial">
    </ion-checkbox>
    <ion-label>
      &nbsp; DE-PRIORITIZE NEW MATERIAL <!--{{dePrioritizeNewMaterial | json}}-->
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-checkbox [(ngModel)]="onlyWithQA">
    </ion-checkbox>
    <ion-label>
      &nbsp; ONLY WITH Q&A
    </ion-label>
  </ion-item>

  <ion-note>
    {{ (item$$ | async)?.id }}
  </ion-note>

  <app-play-button
    [item]="((item$$ | async)?.locallyVisibleChanges$ | async) !"
    [itemId]="(item$$ | async)?.id"
  ></app-play-button>

  <pre>{{ getSideValForQuiz$() | async }}</pre> <!-- DO NOT break line, coz it is shown in pre -->
<!--  <ng-container>(ahead of time by X hours)</ng-container>-->
<!--  <ng-container>(overdue X hours)</ng-container>-->

<!--  hoursDiff = {{ (quizService.calculateWhenNextRepetitionMsEpoch(item$ | async) - nowMs()) * 1000 * 3600 }}-->
  <p>
    <ion-note>
      next repetition:
      <app-time-point
        [time]="newDate(quizService.calculateWhenNextRepetitionMsEpoch(item$$ | async, dePrioritizeNewMaterial))"
      ></app-time-point>
    </ion-note>
  </p>

  <ion-button
    (click)="showAnswer()"
  >Show answer</ion-button>

  <ion-button
    [routerLink]="'/learn/item/'+(item$$ | async)?.id"
  >EDIT</ion-button>

  <div
    *ngIf="shouldShowAnswer"
  >
    <ng-container *ngFor="let answerSide of (itemVal$ | async)?.getSidesWithAnswers()">
      <app-side-label [side]="answerSide"></app-side-label>

      <pre>{{(itemVal$ | async)?.getSideVal(answerSide)}}</pre> <!-- DO NOT break line, coz it is shown in pre -->
      <hr>
    </ng-container>
  </div>


<!--  <p *ngIf="shouldShowAnswer">-->
<!--    {{ (item$$ | async)?.currentVal?.joinedSides() }}-->
<!--  </p>-->
  <ng-container
    *ngIf="shouldShowAnswer"
  >
    <app-self-rating
      [autoSave]="false"
      *ngFor="let dummy of dummyArray"
      [item$]="(item$$ | async) !"
      (numericValue)="selfRating = $event"
    ></app-self-rating>

    <ion-button
      (click)="applyAndNext()"
    >
      APPLY & NEXT
    </ion-button>

  </ng-container>

  </div>
</ion-content>
