<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/learn'"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div style="display: flex; align-items: center">
        <!--      <ion-button (click)="window.history.back()"><</ion-button>-->
<!--        <ion-button routerLink="/learn"><</ion-button>-->

        <span style="flex-grow: 1">&nbsp;QUIZ&nbsp;&nbsp;</span>

        <app-time-passing
          style="font-size: 66%"
          [isCountDown]="false"
        ></app-time-passing>

        <ion-icon class="action-icon"
                  (click)="onClickTimer($event)"
                  name="timer-outline"
        ></ion-icon>

        <ion-icon class='action-icon' name="settings-outline"
                  (click)="showOptions = ! showOptions">
        ></ion-icon>

        <ion-icon class="action-icon" name="bar-chart-outline" slot="end" [routerLink]="['/learn/stats']"></ion-icon>

        <odm-sync-status></odm-sync-status>

      </div>
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content #ionContent
             [scrollX]="true"
>
  <div
    style="margin: 6px"
  >
    <div>
      <app-quiz-options *ngIf="showOptions">
      </app-quiz-options>
    </div>

<!--    <app-quiz-tips-->
<!--    ></app-quiz-tips>-->

    <p>
      <ion-note style="text-transform: uppercase">
        next repetition:
        <app-time-point
          [time]="newDate(quizService.calculateWhenNextRepetitionMsEpoch((status$ | async) ?. nextItem$))"
        ></app-time-point>

        <span>
          | left:
          <strong style="font-size: 130%; color: white">{{ ( status$ | async ) ?. itemsLeft }}</strong>
          | next 12h:
          {{ ( status$ | async ) ?. itemsLeftToday }}
        </span>
      </ion-note>
    </p>

    <div *ngIf="( status$ | async ) ?. isNextItemInFuture">
      <app-quiz-finished
      ></app-quiz-finished>
    </div>

    <div>
      <!-- *ngIf="! ( status$ | async ) ?. isNextItemInFuture" -->
      <app-quiz-item-details
        *ngFor="let item$ of [ (status$ | async) ?. nextItem$ ]"
        [item$]="item$"
        [ionContent]="ionContent"
      ><!-- the entire component will be swapped on new item -->
      </app-quiz-item-details>
    </div>


    <!--  <ng-container>(ahead of time by X hours)</ng-container>-->
    <!--  <ng-container>(overdue X hours)</ng-container>-->

    <!--  hoursDiff = {{ (quizService.calculateWhenNextRepetitionMsEpoch(item$ | async) - nowMs()) * 1000 * 3600 }}-->

  </div>

</ion-content>
<ion-footer>
  <app-show-answer-and-rate
    *ngFor="let item$ of [ (status$ | async) ?. nextItem$ ]"
    [item$]="item$"
  ></app-show-answer-and-rate>

</ion-footer>
