<ion-item
    (click)="onSetDuration(timer)"
>

    LEFT:
    <div class="timeLeftCounter">
        {{timer.secondsLeftInt}}
    </div>
    <app-time-view [timeMs]="timer.secondsLeftInt * 1000"></app-time-view>
    &nbsp;
    <ion-label>{{timer.title}}</ion-label>
    <!--            <ion-datetime display-format="MM/YYYY" picker-format="MMMM YYYY"></ion-datetime>-->
    <!--      <ion-datetime (ionChange)="onChangeTime($event)" displayFormat="HH:mm"></ion-datetime>-->

    Left: {{endTime }}
    Left2: {{timeLeft}} s
    Left3: {{timeLeft | amDuration: 'seconds'}} s
    END: {{endTime |  amDateFormat }}

    <ion-button (click)="onSetDuration(timer)">duration</ion-button>
</ion-item>
