<div
  style="margin: 5px; border-left: 3px solid red"
  class="node-and-children"
  [ngClass]="{'ancestor-of-focused': treeNode.highlight.isAncestorOfFocusedNode()}"
>

  <!--{{treeNode.highlight.isAncestorOfFocusedNode()}}-->

  <app-node-content
    [treeNode]="treeNode"
    [treeHost]="treeHost"
  ></app-node-content>

  <div *ngIf="treeNode.expanded" style="margin-left: 10px" class="children">
    <app-nested-tree-node
      *ngFor="let childNode of treeNode.children"
      [treeNode]="childNode"
      [treeHost]="treeHost"
    ></app-nested-tree-node>
  </div>

  <div
    style="cursor: pointer; user-select: none"
    (click)="toggleExpand($event)"
    *ngIf="! treeNode.expanded && treeNode.children.length > 0"
  >...</div>

</div>


