<div
  class="nested-tree-node node-and-children"
  [ngClass]="{'ancestor-of-focused': treeNode.highlight.isAncestorOfFocusedNode(), 'node-content-container': true}"
>

  <!--{{treeNode.highlight.isAncestorOfFocusedNode()}}-->

  <app-node-content
    [treeNode]="treeNode"
    [treeHost]="treeHost"
  ></app-node-content>

  <div *ngIf="treeNode.expanded || alwaysExpanded" style="margin-left: 5px" class="children">
    <app-nested-tree-node
      *ngFor="let childNode of treeNode.children"
      [treeNode]="childNode"
      [treeHost]="treeHost"
    ></app-nested-tree-node>
  </div>


  <div
    style="cursor: pointer; user-select: none; color: #999; font-size: 10px;"
    (click)="toggleExpand($event)"
    *ngIf="! (treeNode.expanded || alwaysExpanded ) && treeNode.children.length > 0"
  >...</div>

</div>

<div style="height:5px">
  <!-- spacer between bottom shadows to give more space between disjoint subtrees;
    I had problem doing this using margins; as if all the margins collapsed into one instead of adding up;
    Note: if height: 0px, this still causes the "margins collapsing into one" effect apparently;
    so between 0px and 1px there is like 3 logical pixels visual difference.
    This could be related to app-node-content component which has no vertical size apparently when inspecting.
  -->
</div>


