<div
  style="margin: 5px; border-left: 3px solid red"
  class="node-and-children"
  [ngClass]="{'ancestor-of-focused': treeNode.highlight.isAncestorOfFocusedNode()}"
>

  <!--{{treeNode.highlight.isAncestorOfFocusedNode()}}-->

  <app-node-content
    [treeNode]="treeNode"
    [treeHost]="treeHost"
  ></app-node-content>

  <div style="margin-left: 10px" class="children">
    <app-nested-tree-node
      *ngFor="let childNode of treeNode.children"
      [treeNode]="childNode"
      [treeHost]="treeHost"
    ></app-nested-tree-node>

  </div>

</div>


