
This app helps you get to <b>root causes</b> of problems, and offers solutions.

<p>Describe your <b>problem</b> or <b>wish</b> on the
  <a [routerLink]="'/lifedvisor/ask'">Search Page</a>
  and this app will give You hints.</p>
<p>For example: "I have low motivation", "have more time", "productivity".</p>

<p>Think some of them are too obvious?</p> <!-- TODO: ion card -->
<p>No problem, the goal is also to memorize, <b>internalize</b> them and reflect on them, force awareness of them. Drill them into the brain :). As we tend to forget things.</p>
<p>A form of meditation, contemplation, mantra.</p>

<p>
  Also, please check <a routerLink="/lifedvisor/life-overviews">Life Overviews</a> graphs, to see the big picture, where You are in certain areas of life, and where You would like to be.
</p>

<!--<img width=100px src="assets/Lifedvisor_into_brain.svg">-->

<p>You can also treat it as a <b>check-list</b>, to avoid forgetting even the obvious hints.</p>
<p>It also serves to hold us accountable to really follow the rules that we know of and agree with.</p>

<!--<p>Other keywords: affirmations, self-indoctrination, policies, habits</p>-->


<!--<p>-->
<!--  <img width=100px src="assets/dumbbell-solid.svg">-->

<!--  Becomes stronger with practice, like a muscle.-->
<!--</p>-->
<!--<br/>-->

<!-- TODO have a set of juicy images rotating here (like I need to change my posters), to keep it interesting for the limbic system
  To avoid it being a set of cheesy happy-people motivational standard stuff, can be various pictures of brain, etc.
-->

<!--<p>Please note that the images below are just placeholders/inspirations/prototypes and will be re-made be me.</p>-->
<img width=300px src="assets/rationale/brain-training-dumbbells-hands-brain-gym-vector-128280669.jpg">
<img width=300px src="assets/rationale/brain_gears--discipliner-son-cerveau-pour-dessiner1.jpg">
<img width=300px src="assets/rationale/brain_moist_computer--0ab6a1049d8f01beb57d7c7511ed4b47.jpg">
<img width=300px src="assets/rationale/brain_use_it--il_570xN.846805108_7dtm.jpg">
<img width=300px src="assets/rationale/Key-brain-regions-related-to-motivational-process.png">
<img width=300px src="assets/rationale/qualities_deps.png">
<img width=300px src="assets/overviews/Screen Shot 2020-03-02 at 22.16 - money health balance.png">
<img width=300px src="assets/rationale/Screen Shot 2020-01-25 at 22.01 0 lifedvisor graph with pie chart.png">

<br>
