// stuff from global_oryol.sass after moving oryol into LifeSuite:

.actionable
  cursor: pointer
  user-select: none
  color: var(--secondary) // FIXME: color and actionable should be orthogonal

\:root
  --primary: #B15900
  --secondary: #817ed9
  --highlight: #5b5b00
