// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}

html {
  scroll-behavior: smooth;
}

:root {

  --secondary: darkorange;
  --primary: violet /* FIXME: Ionic color */;

  //--ion-background-color: lightgreen;
  //--ion-color-primary: orange;
}

.action-icon {
  cursor: pointer;
  user-select: none;
  padding: 2px;
  color: orange;
}

ul, ol {
  ::marker {
    color: var(--secondary)
  }
}

html {
  min-width: 500px;
  max-width: auto;
  min-height: 500px;
}
