// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

@import 'global_oryol2';

:root {
  transition: all 2s; // FIXME test
}

.sc-ion-popover-ios-h {
   --width: 380px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red !important;
  opacity: 1; /* Firefox */
}


// ====  TINYMCE - TODO move to components when I unify search&add with item side text editors

//* :has(p[data-mce-bogus]) {
.mce-content-body { /* FIXME: this is not encapsulated to component */
  background-color: var(--apf-rich-text-edit-background);
  padding: 10px; // FIXME setting this to non-zero causes too big padding;
  //padding: 0px;
  p {
    margin: 0;
    //background-color: orange;
  }

  margin: 0px 0px 4px;

}

//p {
//  background-color: blue;
//}

.mce-content-body[data-mce-placeholder]:not(.mce-visualblocks)::before {
  /* https://www.w3schools.com/howto/howto_css_placeholder.asp */
  /* https://www.tiny.cloud/blog/tinymce-placeholder-text/ */
  //background-color: white;
  color: var(--ion-text-color) !important; //rgba(118, 118, 118, 1);
  opacity: 0.5;
  padding-left: 0.55em; /* this can cause misalignment between blinking cursor and placeholder first letter */
}


// ==== BEGIN stuff that is edited via rich-text-editor (but also appears on items list)
ul, ol {
  padding-inline-start: 1.35rem;
  ::marker {
    color: var(--secondary);
  }
  margin-block-start: 0.3rem;
  margin-block-end: 0.3rem;
}

li:first-child {
  padding-top: 0;
}

// ======

[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}

html {
  scroll-behavior: smooth;
  color-scheme: dark; // https://github.com/mdn/yari/pull/6102
}

:root {

  --secondary: var(--ion-color-secondary); /* FIXME make consistent */
  --primary: var(--ion-color-primary) /* FIXME: Ionic color */;

  --answerBorderColor: #003b00;
  //--answerBorderColorDark: darken(var(--answerBorderColor), 0);
  --answerBorderColorDark: #002d00;

  //--ion-background-color: lightgreen;
  //--ion-color-primary: orange;
}

.action-icon {
  cursor: pointer;
  user-select: none;
  padding: 2px;
  color: var(--ion-color-primary);
}

.action-color {
  color: var(--ion-color-primary);
}

ul, ol {
  ::marker {
    //color: var(--secondary)
  }
}

.chrome-extension {
  min-width: 500px;
  max-width: auto;
  min-height: 500px;
}

body {
  scrollbar-color: green black;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px; }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}


::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #393812;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #000;
}

// ===

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

// ====


.button-text {
  //font-size: 72px;
  //background: -webkit-linear-gradient(#fff, #aaf);
  background: radial-gradient(var(--ion-color-secondary-contrast), var(--ion-color-secondary-contrast-muted));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  //&:before {
  //  content: attr(data-text);
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  z-index: -1;
  //  text-shadow: 0px 0px #000000;
  //  // https://stuffandnonsense.co.uk/blog/a-quick-shot-of-gradient-text-and-text-shadow
  //}
}

.my-popover {
  --min-width: 300px;
  --max-width: 500px;
  //background: #FFF;
}

.dark-bg-highlight {
  /*or just bg-hilite, coz relying on theme*/
  background-color: #202020;
}

.source-code, pre {
  font-family: Monaco;
  color: var(--ion-color-primary-tint)
}

.done-text {
  text-decoration: line-through;
  opacity: 30%;
}

.fancy {
  text-shadow: var(--ion-color-primary) 1px 1px 2px;
  //text-shadow: #428CFFFF 1px 1px 2px;
  //background: linear-gradient(#fff, #666);
  background: linear-gradient(var(--ion-color-primary), #666);
  //background: linear-gradient(#428CFFFF, #666);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.2em;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 120%;
  transform: skew(5deg);
}


.positive {
  text-shadow: var(--ion-color-secondary) 1px 1px 2px;
  background: linear-gradient(#fff, #666);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.2em;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 120%;
  //transform: skew(15deg);
  animation: pulse-shadow 1s infinite;
}

@keyframes pulse-shadow {
  0% {
    text-shadow: var(--ion-color-secondary) 1px 1px 2px;
  }
  50% {
    text-shadow: var(--ion-color-primary) 1px 1px 6px;
  }
}

.concept {
  text-shadow: white 1px 1px 2px;
  background: linear-gradient(#fff, #666);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.2em;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 120%;
  //transform: skew(15deg);
}

.negative {
  color: red;
  text-shadow: red 1px 1px 2px;
}

.warning {
  color: yellow;
  text-shadow: yellow 1px 1px 2px;
}

.tox-menubar {
  //overflow-x: scroll;
  overflow-x: hidden;
}

//ion-button::part(native) {
//  background-color: red;
//  font-size: 212px;
//  font-weight: 500;
//}

//body > div.tox.tox-silver-sink.tox-tinymce-aux {
//  body > div.tox.tox-silver-sink.tox-tinymce-aux > div > div {
  .tox-notifications-container {

    display: none; // HACK for tinymce domain somehow not recognized (apiKey)
  }
//}
