/* You can add global styles to this file, and also import other style files */

// Vendor files
@import "~primeng/resources/themes/bootstrap/theme.css"
@import "~primeng/resources/primeng.min.css"
@import "~font-awesome/css/font-awesome.min.css"


// Bootswatch theme
@import "styles/_variables.scss"
@import "~bootstrap/scss/bootstrap" // import bootstrap has to be in-between _variables.scss and _bootswatch.scss - https://bootswatch.com/help/
@import "styles/_bootswatch.scss"

body
  color: lightgray

$popover-max-width: 500px

.popover
  max-width: 100% !important

.actionable
  cursor: pointer
  user-select: none
  color: var(--primary) // FIXME: color and actionable should be orthogonal

.faded
  color: gray

\:root
  --primary: #B15900

.danger
  background-color: lightcoral !important

input
  background: #0a0a0a // #f5f5f5
  color: lightgray


$border-left: 2px

.ancestor-of-focused,
.ancestor-of-focused.node-content-container
  border-left: var(--primary) $border-left solid
