<ion-header>
  <ion-toolbar>
    <ion-button color="primary" slot="start" >< Previous</ion-button>
    <!-- TODO: this will go to previous journal entry to correct it if necessary -->
    <!-- TODO: Next button -->
    <ion-title>
      Journal
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- TODO: contenteditable -->
  <app-mood-picker (mood)="onChangeMood($event)"></app-mood-picker>

  <div style="display: flex; flex-direction: column; align-items: stretch; height: 100%">
    <ion-textarea
      style="flex-grow: 1"
      *ngFor="let textDesc of textDescriptors"
      (change)="onChangeText($event, textDesc)"
      (input)="onChangeText($event, textDesc)"
      placeholder="Journal entry: {{textDesc.id}}"
    ></ion-textarea>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id='fabNewJournalEntry'
                    (click)="newEntry()"
    >
      <img src="assets/icon/CloudTime_Logo.svg" height="25rem">
    </ion-fab-button>
  </ion-fab>

</ion-content>
