<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="assets/icon/favicon.ico" height="25rem">
      CloudTime
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <!--    <ion-fab-button id='fabAddTimer2' (click)="onAddTimer()">-->
    <!--      +-->
    <!--&lt;!&ndash;      <ion-icon name="add-circle"></ion-icon>&ndash;&gt;-->
    <!--    </ion-fab-button>-->
    <ion-fab-button id='fabAddTimer' (click)="onAddTimer()">
      +
      <!--      <ion-icon name="add-circle"></ion-icon>-->
    </ion-fab-button>
  </ion-fab>
  <app-timers-list></app-timers-list>


</ion-content>
