<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="assets/icon/CloudTime_Logo.svg" height="25rem">
      CloudTime
    </ion-title>
     <ion-buttons slot="primary">
      <ion-button *ngIf="!this.AuthService.userIsAuthenticated" [routerLink]="['/auth']">
        <ion-icon name="ios-log-in"></ion-icon>
      </ion-button>
       <ion-button *ngIf="this.AuthService.userIsAuthenticated" (click)="this.AuthService.logout()">
        <ion-icon name="ios-log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <!--    <ion-fab-button id='fabAddTimer2' (click)="onAddTimer()">-->
    <!--      +-->
    <!--&lt;!&ndash;      <ion-icon name="add-circle"></ion-icon>&ndash;&gt;-->
    <!--    </ion-fab-button>-->
    <ion-fab-button id='fabAddTimer' (click)="onAddTimer()">
      <img src="assets/icon/CloudTime_Logo.svg" height="25rem">
      <!--      +-->
      <!--      <ion-icon name="add-circle"></ion-icon>-->
    </ion-fab-button>
  </ion-fab>
  <app-timers-list></app-timers-list>

</ion-content>
