<ion-header>
  <ion-toolbar>
    <ion-title>
<!--      <img src="assets/icon/CloudTime_Logo.svg" height="25rem">-->
      CloudTime
    </ion-title>
<!--    <ion-button color="primary" slot="end" routerLink="/journal/write/new">Journal</ion-button>-->
<!--    <ion-button color="primary" slot="end" [routerLink]="['/auth']">Account</ion-button>-->
    <ion-buttons slot="end">
      <ion-icon class="action-icon" name="pencil" slot="end" [routerLink]="['/journal/write/new']"></ion-icon>
      <ion-icon style="margin-right: 7px;" class="action-icon" name="book-outline" slot="end" [routerLink]="['/learn']"></ion-icon>
<!--      <ion-icon class="action-icon" name="person" slot="end" [routerLink]="['/auth']"></ion-icon>-->
      <odm-sync-status></odm-sync-status>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <!--    <ion-fab-button id='fabAddTimer2' (click)="onAddTimer()">-->
    <!--      +-->
    <!--&lt;!&ndash;      <ion-icon name="add-circle"></ion-icon>&ndash;&gt;-->
    <!--    </ion-fab-button>-->
    <ion-fab-button id='fabAddTimer' (click)="onAddTimer()">
      <ion-icon name="add-outline"></ion-icon>
<!--      <img src="assets/icon/CloudTime_Logo.svg" height="25rem">-->
      <!--      +-->
      <!--      <ion-icon name="add-circle"></ion-icon>-->
    </ion-fab-button>
  </ion-fab>
  <app-timers-list></app-timers-list>

</ion-content>
