<!--<app-node-cell-->
<!--  [cell]="cells.forColumn(columns.estimatedTime)"-->
<!--  [nodeContentComponent]="this"-->
<!--  #inputEstimatedTime-->
<!--  [hidden]="! isEstimatedTimeShown"-->
<!--  [ngClass]="{'done-title': isDone}"-->
<!--  (focusin)="onColumnFocused(columns.estimatedTime, $event)"-->

<!--  [showCalculatedValue]="treeNode.showEffectiveDuration()"-->
<!--  [calculatedValue]="treeNode.effectiveDurationText()"-->

<!--&gt;</app-node-cell> &lt;!&ndash; TODO: rename to #cellEstimatedTime&ndash;&gt;-->


<div
  style="
      border-radius: 3px;
      background: #fbfbfb;
      margin: .3em;
  "
  (keydown.enter)="nodeContentComponent.keyPressEnter($event)"
  (keydown.arrowup)="nodeContentComponent.focusNodeAbove($event)"
  (keydown.arrowdown)="nodeContentComponent.focusNodeBelow($event)"
  (keydown.arrowleft)="nodeContentComponent.onArrowLeftOnLeftMostCell()"

  (keydown.alt.arrowright)="onArrowRight()"
  (keydown.meta.arrowright)="onArrowRight()"
  (keydown.control.arrowright)="onArrowRight()"
>
  <input
    #cellInput
    maxlength="3"
    style="
      flex-basis: auto;
      width: 2.4em;
      text-align: right;
      margin: 0;
      border-radius: 3px;
      border: none;
      padding: 2px;
    "
    [ngClass]="{'danger' : isDanger}"
  >
  <ng-container *ngIf="showCalculatedValue">
    <span style="color: gray">&nbsp;{{calculatedValue}}</span>&nbsp;
    <span *ngIf='treeNode.missingValsCount(column); let missingValsCount'
          style="color: red">
      &nbsp; ! {{missingValsCount}}
    </span>&nbsp;
  </ng-container>

</div>
