<ng-container *ngIf="sumEstimates() let sumEstimates">
  Estimates sum: {{((sumEstimates.aggregateValue) / 50 / 8) }} days
  Missing: {{(sumEstimates.missingValuesCount)}}

  {{sumEstimates.aggregateDistribution | json}}
  Max from distrib: {{sumEstimates.aggregateDistribution.max / 50 / 8}} days
  Min from distrib: {{sumEstimates.aggregateDistribution.min / 50 / 8}} days
</ng-container>


<ion-button
  (click)="askDelete()"
>
  DELETE
</ion-button>

<ion-button
  (click)="edit()"
>
  EDIT SELECTED
</ion-button>

<ng-container
  *ngIf="isEditing"
>

  <app-importance-edit
    [item$]="multiSelectItems$"
  ></app-importance-edit>

</ng-container>

